.bg-gradient {
  background: #44D62C;
  background: linear-gradient(175deg, #2cd694 0%, #44D62C 100%); }

.f-gradient {
  background: linear-gradient(175deg, #2cd694 0%, #44D62C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.f {
  font-size: 16.0692212608px; }

.f1, body, h1, h2, h3, h4, h5, h6 {
  font-size: 26px; }

.f2, .fancy-heading, .call-to-action {
  font-size: 42.068px; }

.f3, .page-title {
  font-size: 68.066024px; }

.f4 {
  font-size: 110.130826832px; }

.f5 {
  font-size: 178.1916778142px; }

.f-1 {
  font-size: 9.9315335357px; }

.f-2 {
  font-size: 6.1381542248px; }

.f-3 {
  font-size: 3.7936676297px; }

.w {
  width: 26px; }

.w1 {
  width: 42.068px; }

.w2 {
  width: 68.066024px; }

.w3 {
  width: 110.130826832px; }

.w4 {
  width: 178.1916778142px; }

.w5 {
  width: 288.3141347033px; }

.w6 {
  width: 466.49226995px; }

.w-1 {
  width: 16.0692212608px; }

.w-2 {
  width: 9.9315335357px; }

.w-3 {
  width: 6.1381542248px; }

.w-4 {
  width: 3.7936676297px; }

.h {
  height: 26px; }

.h1 {
  height: 42.068px; }

.h2 {
  height: 68.066024px; }

.h3 {
  height: 110.130826832px; }

.h4 {
  height: 178.1916778142px; }

.h5 {
  height: 288.3141347033px; }

.h6 {
  height: 466.49226995px; }

.h-1 {
  height: 16.0692212608px; }

.h-2 {
  height: 9.9315335357px; }

.h-3 {
  height: 6.1381542248px; }

.h-4 {
  height: 3.7936676297px; }

.w-10 {
  width: 10%; }

.w-20 {
  width: 20%; }

.w-25 {
  width: 25%; }

.w-30 {
  width: 30%; }

.w-33 {
  width: 33%; }

.w-34 {
  width: 34%; }

.w-40 {
  width: 40%; }

.w-50 {
  width: 50%; }

.w-60 {
  width: 60%; }

.w-70 {
  width: 70%; }

.w-75 {
  width: 75%; }

.w-80 {
  width: 80%; }

.w-90 {
  width: 90%; }

.w-100 {
  width: 100%; }

.w-third {
  width: calc(100% / 3); }

.w-two-thirds {
  width: calc(100% / 1.5); }

.w-auto {
  width: auto; }

@media (--breakpoint-not-small) {
  .w1-ns {
    width: 1rem; }
  .w2-ns {
    width: 2rem; }
  .w3-ns {
    width: 4rem; }
  .w4-ns {
    width: 8rem; }
  .w5-ns {
    width: 16rem; }
  .w-10-ns {
    width: 10%; }
  .w-20-ns {
    width: 20%; }
  .w-25-ns {
    width: 25%; }
  .w-30-ns {
    width: 30%; }
  .w-33-ns {
    width: 33%; }
  .w-34-ns {
    width: 34%; }
  .w-40-ns {
    width: 40%; }
  .w-50-ns {
    width: 50%; }
  .w-60-ns {
    width: 60%; }
  .w-70-ns {
    width: 70%; }
  .w-75-ns {
    width: 75%; }
  .w-80-ns {
    width: 80%; }
  .w-90-ns {
    width: 90%; }
  .w-100-ns {
    width: 100%; }
  .w-third-ns {
    width: calc(100% / 3); }
  .w-two-thirds-ns {
    width: calc(100% / 1.5); }
  .w-auto-ns {
    width: auto; } }

@media (--breakpoint-medium) {
  .w1-m {
    width: 1rem; }
  .w2-m {
    width: 2rem; }
  .w3-m {
    width: 4rem; }
  .w4-m {
    width: 8rem; }
  .w5-m {
    width: 16rem; }
  .w-10-m {
    width: 10%; }
  .w-20-m {
    width: 20%; }
  .w-25-m {
    width: 25%; }
  .w-30-m {
    width: 30%; }
  .w-33-m {
    width: 33%; }
  .w-34-m {
    width: 34%; }
  .w-40-m {
    width: 40%; }
  .w-50-m {
    width: 50%; }
  .w-60-m {
    width: 60%; }
  .w-70-m {
    width: 70%; }
  .w-75-m {
    width: 75%; }
  .w-80-m {
    width: 80%; }
  .w-90-m {
    width: 90%; }
  .w-100-m {
    width: 100%; }
  .w-third-m {
    width: calc(100% / 3); }
  .w-two-thirds-m {
    width: calc(100% / 1.5); }
  .w-auto-m {
    width: auto; } }

@media (--breakpoint-large) {
  .w1-l {
    width: 1rem; }
  .w2-l {
    width: 2rem; }
  .w3-l {
    width: 4rem; }
  .w4-l {
    width: 8rem; }
  .w5-l {
    width: 16rem; }
  .w-10-l {
    width: 10%; }
  .w-20-l {
    width: 20%; }
  .w-25-l {
    width: 25%; }
  .w-30-l {
    width: 30%; }
  .w-33-l {
    width: 33%; }
  .w-34-l {
    width: 34%; }
  .w-40-l {
    width: 40%; }
  .w-50-l {
    width: 50%; }
  .w-60-l {
    width: 60%; }
  .w-70-l {
    width: 70%; }
  .w-75-l {
    width: 75%; }
  .w-80-l {
    width: 80%; }
  .w-90-l {
    width: 90%; }
  .w-100-l {
    width: 100%; }
  .w-third-l {
    width: calc(100% / 3); }
  .w-two-thirds-l {
    width: calc(100% / 1.5); }
  .w-auto-l {
    width: auto; } }

.ma, .fancy-heading {
  margin: 26px; }

.ma1 {
  margin: 42.068px; }

.ma2 {
  margin: 68.066024px; }

.ma3 {
  margin: 110.130826832px; }

.ma4 {
  margin: 178.1916778142px; }

.ma5 {
  margin: 288.3141347033px; }

.ma0 {
  margin: 0; }

.ma-1 {
  margin: 16.0692212608px; }

.ma-2 {
  margin: 9.9315335357px; }

.ma-3 {
  margin: 6.1381542248px; }

.ml {
  margin-left: 26px; }

.ml1 {
  margin-left: 42.068px; }

.ml2 {
  margin-left: 68.066024px; }

.ml3 {
  margin-left: 110.130826832px; }

.ml4 {
  margin-left: 178.1916778142px; }

.ml5 {
  margin-left: 288.3141347033px; }

.ml0 {
  margin-left: 0; }

.ml-1 {
  margin-left: 16.0692212608px; }

.ml-2 {
  margin-left: 9.9315335357px; }

.ml-3 {
  margin-left: 6.1381542248px; }

.mr {
  margin-right: 26px; }

.mr1 {
  margin-right: 42.068px; }

.mr2 {
  margin-right: 68.066024px; }

.mr3 {
  margin-right: 110.130826832px; }

.mr4 {
  margin-right: 178.1916778142px; }

.mr5 {
  margin-right: 288.3141347033px; }

.mr0 {
  margin-right: 0; }

.mr-1 {
  margin-right: 16.0692212608px; }

.mr-2 {
  margin-right: 9.9315335357px; }

.mr-3 {
  margin-right: 6.1381542248px; }

.mt {
  margin-top: 26px; }

.mt1, .fancy-heading {
  margin-top: 42.068px; }

.mt2 {
  margin-top: 68.066024px; }

.mt3 {
  margin-top: 110.130826832px; }

.mt4 {
  margin-top: 178.1916778142px; }

.mt5 {
  margin-top: 288.3141347033px; }

.mt0 {
  margin-top: 0; }

.mt-1 {
  margin-top: 16.0692212608px; }

.mt-2 {
  margin-top: 9.9315335357px; }

.mt-3 {
  margin-top: 6.1381542248px; }

.mb {
  margin-bottom: 26px; }

.mb1 {
  margin-bottom: 42.068px; }

.mb2 {
  margin-bottom: 68.066024px; }

.mb3 {
  margin-bottom: 110.130826832px; }

.mb4 {
  margin-bottom: 178.1916778142px; }

.mb5 {
  margin-bottom: 288.3141347033px; }

.mb0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 16.0692212608px; }

.mb-2 {
  margin-bottom: 9.9315335357px; }

.mb-3 {
  margin-bottom: 6.1381542248px; }

.pa {
  padding: 26px; }

.pa1 {
  padding: 42.068px; }

.pa2 {
  padding: 68.066024px; }

.pa3 {
  padding: 110.130826832px; }

.pa4 {
  padding: 178.1916778142px; }

.pa5 {
  padding: 288.3141347033px; }

.pa0 {
  padding: 0; }

.pa-1, .call-to-action {
  padding: 16.0692212608px; }

.pa-2 {
  padding: 9.9315335357px; }

.pa-3 {
  padding: 6.1381542248px; }

.pl {
  padding-left: 26px; }

.pl1 {
  padding-left: 42.068px; }

.pl2 {
  padding-left: 68.066024px; }

.pl3 {
  padding-left: 110.130826832px; }

.pl4 {
  padding-left: 178.1916778142px; }

.pl5 {
  padding-left: 288.3141347033px; }

.pl0 {
  padding-left: 0; }

.pl-1 {
  padding-left: 16.0692212608px; }

.pl-2 {
  padding-left: 9.9315335357px; }

.pl-3 {
  padding-left: 6.1381542248px; }

.pr {
  padding-right: 26px; }

.pr1 {
  padding-right: 42.068px; }

.pr2 {
  padding-right: 68.066024px; }

.pr3 {
  padding-right: 110.130826832px; }

.pr4 {
  padding-right: 178.1916778142px; }

.pr5 {
  padding-right: 288.3141347033px; }

.pr0 {
  padding-right: 0; }

.pr-1 {
  padding-right: 16.0692212608px; }

.pr-2 {
  padding-right: 9.9315335357px; }

.pr-3 {
  padding-right: 6.1381542248px; }

.pt {
  padding-top: 26px; }

.pt1 {
  padding-top: 42.068px; }

.pt2 {
  padding-top: 68.066024px; }

.pt3 {
  padding-top: 110.130826832px; }

.pt4 {
  padding-top: 178.1916778142px; }

.pt5 {
  padding-top: 288.3141347033px; }

.pt0 {
  padding-top: 0; }

.pt-1 {
  padding-top: 16.0692212608px; }

.pt-2 {
  padding-top: 9.9315335357px; }

.pt-3 {
  padding-top: 6.1381542248px; }

.pb {
  padding-bottom: 26px; }

.pb1 {
  padding-bottom: 42.068px; }

.pb2 {
  padding-bottom: 68.066024px; }

.pb3 {
  padding-bottom: 110.130826832px; }

.pb4 {
  padding-bottom: 178.1916778142px; }

.pb5 {
  padding-bottom: 288.3141347033px; }

.pb0 {
  padding-bottom: 0; }

.pb-1 {
  padding-bottom: 16.0692212608px; }

.pb-2 {
  padding-bottom: 9.9315335357px; }

.pb-3 {
  padding-bottom: 6.1381542248px; }

.fw7, .page-title, .call-to-action, .design-title, .fw9, .fw8, .Recoleta-Black {
  font-family: Recoleta-Black;
  font-weight: normal;
  font-style: normal; }

.fw6, .Recoleta-Bold {
  font-family: Recoleta-Bold;
  font-weight: normal;
  font-style: normal; }

.fw5, .fancy-heading, .Recoleta-SemiBold {
  font-family: Recoleta-SemiBold;
  font-weight: normal;
  font-style: normal; }

.fw4, .Recoleta-Medium {
  font-family: Recoleta-Medium;
  font-weight: normal;
  font-style: normal; }

.fw3, .Recoleta-Regular {
  font-family: Recoleta-Regular;
  font-weight: normal;
  font-style: normal; }

.fw2, .design-extra-info, :root, .Recoleta-Light {
  font-family: Recoleta-Light;
  font-weight: normal;
  font-style: normal; }

.fw1, .Recoleta-Thin {
  font-family: Recoleta-Thin;
  font-weight: normal;
  font-style: normal; }

:root {
  color: #101820;
  background-color: #f9f9f9; }

div {
  box-sizing: border-box; }

body {
  margin: 0; }

.card:nth-of-type(1) {
  background-color: aquamarine; }

.card:nth-of-type(2) {
  background-color: turquoise; }

.card:nth-of-type(3) {
  background-color: aqua; }

@media (max-width: 800px) {
  .design {
    width: 100vw;
    color: pink; } }

.design {
  display: inline-block;
  float: left;
  width: 50vw;
  min-height: 37.3831775701vw;
  background-size: 100%;
  background-position: 50% 50%; }

.design-description {
  padding: 6.1381542248px 9.9315335357px;
  background-color: #101820;
  color: white;
  position: relative;
  top: 0;
  right: 0;
  max-height: 1.6em;
  text-overflow: ellipsis;
  overflow: hidden; }

.design {
  transition: background-size 500ms linear; }

.design:hover {
  background-size: 105%; }
  .design:hover .design-description {
    max-height: 33.3333333333vw;
    transition: max-height 600ms ease-in-out; }

.design-extra-info {
  display: inline-block; }

.social-links a {
  border-bottom: 3.7936676297px solid #ff7222;
  transition: border 150ms, color 150ms; }
  .social-links a:hover {
    color: #ff7222;
    border-color: #101820;
    border-color: rgba(255, 114, 34, 0.35); }

a.text {
  border-bottom: 2.5px solid rgba(255, 114, 34, 0.3);
  transition: border 150ms, color 150ms;
  background-color: rgba(255, 114, 34, 0.05); }
  a.text:hover {
    border-bottom: 3.7936676297px solid #ff7222;
    border-color: #ff7222;
    background-color: rgba(255, 114, 34, 0.2); }

@keyframes fadeOut {
  0% {
    opacity: 0.5;
    transform: translateX(0em); }
  100% {
    opacity: 0.5;
    transform: translateX(-1em); } }

a {
  animation: fadeOut 1s timing-function delay iteration-count direction fill-mode;
  text-decoration: none;
  color: #101820; }

.call-to-action {
  background-color: #ff7222;
  color: white;
  text-align: center;
  border-radius: 16.0692212608px;
  z-index: 1;
  transition: transform 200ms, box-shadow 200ms;
  background-color: #101820;
  color: white; }
  .call-to-action:hover {
    background-color: #101820;
    box-shadow: -6.1381542248px 6.1381542248px rgba(255, 114, 34, 0.25), -16.0692212608px 16.0692212608px rgba(255, 114, 34, 0.2), -26px 26px rgba(255, 114, 34, 0.15);
    transform: translate(6.1381542248px, -6.1381542248px); }
  .call-to-action:hover {
    background-color: rgba(255, 114, 34, 0.95);
    box-shadow: -6.1381542248px 6.1381542248px rgba(16, 24, 32, 0.25), -16.0692212608px 16.0692212608px rgba(16, 24, 32, 0.2), -26px 26px rgba(16, 24, 32, 0.15);
    box-shadow: -6.1381542248px 6.1381542248px rgba(16, 24, 32, 0.25), -16.0692212608px 16.0692212608px rgba(16, 24, 32, 0.2), -26px 26px rgba(16, 24, 32, 0.15);
    box-shadow: -6.1381542248px 6.1381542248px rgba(255, 114, 34, 0.25), -16.0692212608px 16.0692212608px rgba(255, 114, 34, 0.2), -26px 26px rgba(255, 114, 34, 0.15); }

.call-to-action {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancy-heading {
  color: #101820;
  text-shadow: -3.7936676297px 3.7936676297px rgba(255, 114, 34, 0.66), -6.1381542248px 6.1381542248px rgba(255, 114, 34, 0.33), -9.9315335357px 9.9315335357px rgba(255, 114, 34, 0.15);
  text-shadow: -3.7936676297px 3.7936676297px rgba(16, 24, 32, 0.2), -6.1381542248px 6.1381542248px rgba(16, 24, 32, 0.1), -9.9315335357px 9.9315335357px rgba(16, 24, 32, 0.05); }

.page-title {
  text-align: center; }

.fancy-underline {
  border-bottom: 6.1381542248px solid #ff7222;
  box-shadow: 4px solid pink; }

.bio-copy .fw7, .bio-copy .fw9, .bio-copy .fw8, .bio-copy .design-title, .bio-copy .call-to-action, .bio-copy .page-title {
  transition: color 200ms ease-out; }
  .bio-copy .fw7:hover, .bio-copy .fw9:hover, .bio-copy .fw8:hover, .bio-copy .design-title:hover, .bio-copy .call-to-action:hover, .bio-copy .page-title:hover {
    color: #ff7222; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(1em); }
  100% {
    opacity: 1;
    transform: translateX(0em); } }

.fadeIn {
  animation: fadeIn 1000ms ease; }

/* Nicolas Gallaghers Clearfix solution
   Ref: http: */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }
