::-webkit-scrollbar {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

div {
  box-sizing: border-box; }

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: calc(100vh + 0px);
  max-height: 100vw;
  padding-top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-100vh);
  transform-origin: right top; }
  .horizontal-scroll-wrapper > .card {
    display: block;
    padding: 5px;
    background: whitesmoke;
    transform: rotate(90deg);
    transform-origin: right top; }

.horizontal-scroll-wrapper {
  padding: 100vh 0 0 0; }
  .horizontal-scroll-wrapper > .card {
    width: 100vh;
    height: 100vh; }

.card:nth-of-type(1) {
  background-color: aquamarine; }

.card:nth-of-type(2) {
  background-color: turquoise; }

.card:nth-of-type(3) {
  background-color: aqua; }
