html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

.cf {
  overflow: auto; }

.cf::after {
  content: "";
  clear: both;
  display: table; }

.page-wrapper {
  overflow-x: hidden; }

*, *:before, *:after {
  box-sizing: border-box; }

h1 {
  font-size: 76px;
  letter-spacing: -0.02em;
  line-height: 1; }

@media (max-width: 768px) {
  h1 {
    font-size: 47px; } }

h2 {
  font-size: 47px;
  font-family: "Covik_Sans-Black";
  line-height: 1.2; }

@media (max-width: 768px) {
  h2 {
    font-size: 29px; } }

h3 {
  font-size: 29px;
  font-family: "Covik_Sans-Bold"; }

@media (max-width: 768px) {
  h3 {
    font-family: "Covik_Sans-Regular";
    color: white; } }

h4 {
  font-family: "Covik_Sans_Mono-Medium";
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.05em;
  text-transform: uppercase; }

h5 {
  font-family: "Covik_Sans_Mono-Bold";
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65); }

p {
  font-family: "Covik_Sans-Regular";
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.7; }

html {
  background: #120404;
  color: white;
  font-family: "Covik_Sans-Regular";
  font-size: 18px; }

html, body > * {
  box-sizing: border-box; }

a, .link, .button {
  cursor: pointer; }

::selection {
  background-color: #DC2626; }

u {
  text-decoration: underline;
  text-decoration-color: #DC2626; }

h1 u {
  text-decoration-thickness: 0.06em; }

.button {
  display: inline-block;
  padding: 18px 47px;
  text-align: center;
  font-size: 29px;
  background: #DC2626;
  border: 2px solid white; }

.hero-list h4 {
  margin-bottom: 18px; }

.hero-list > * {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-basis: 0; }

.hero-list h5 {
  flex-basis: 65px;
  text-align: right; }

.hero-list p {
  font-family: "Covik_Sans_Mono-Regular";
  color: white;
  line-height: 1; }

.hero-list .border {
  height: 18px;
  width: 12.5px;
  border-right: 2px solid white; }

.homepage .hero {
  padding-top: 123px;
  padding-bottom: 200px; }
  .homepage .hero .copy {
    padding-left: 76px; }
  .homepage .hero .header {
    max-width: 15ch; }
  .homepage .hero .subheader {
    margin-top: 18px;
    margin-bottom: 47px;
    max-width: 60ch; }

.homepage .hero .visuals {
  background: url(/source/images/vector-grid.svg) 645px top no-repeat;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw; }
  .homepage .hero .visuals .photo-f1, .homepage .hero .visuals .photo-sprinter, .homepage .hero .visuals .photo-dirt-bikes {
    transform: scale(0.5, 0.5);
    border: 4px solid white;
    position: absolute; }
  .homepage .hero .visuals .photo-f1 {
    top: 323px;
    left: 723px; }
  .homepage .hero .visuals .photo-sprinter {
    top: -123px;
    left: 646px; }
  .homepage .hero .visuals .photo-dirt-bikes {
    top: -29px;
    left: 798px; }

@media (max-width: 768px) {
  .homepage .hero {
    padding-top: 47px; }
    .homepage .hero .header {
      font-size: 47px;
      max-width: 10ch; }
    .homepage .hero .copy {
      padding-left: 29px;
      padding-right: 29px; }
    .homepage .hero .subheader {
      margin-top: 18px;
      margin-bottom: 29px;
      max-width: 24ch; }
    .homepage .hero .button {
      font-size: 18px;
      font-family: "Covik_Sans-Semibold";
      padding: 11px 18px; }
  .homepage .hero .visuals {
    background: url(/source/images/vector-grid.svg) 323px -200px no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-height: 700px; }
    .homepage .hero .visuals .photo-f1 {
      top: 150px;
      left: 100px; }
    .homepage .hero .visuals .photo-sprinter {
      top: -250px;
      left: 200px; }
    .homepage .hero .visuals .photo-dirt-bikes {
      top: -150px;
      left: 150px; } }

.homepage .social-proof {
  padding-top: 47px;
  color: white; }
  .homepage .social-proof .header {
    font-family: "Covik_Sans_Mono-Regular";
    text-transform: uppercase;
    letter-spacing: 0.08em;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .homepage .social-proof .logos {
    padding: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px 47px;
    flex-wrap: wrap; }

.homepage .recent-work {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: stretch;
  background: #120404;
  margin-top: 76px; }
  .homepage .recent-work .header {
    box-sizing: border-box;
    padding: 29px;
    display: flex;
    gap: 11px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .homepage .recent-work .header h3, .homepage .recent-work .header p {
      width: 100%; }
  .homepage .recent-work .thumbnail {
    max-width: 100%;
    flex-grow: 0;
    width: 450px; }

.homepage .recent-work-background {
  background: url(/source/images/vector-grid-short.svg) no-repeat right;
  width: 100%;
  height: 241px;
  overflow: visible;
  position: relative;
  margin-top: -200px;
  z-index: -1; }

@media (max-width: 768px) {
  .homepage section.recent-work {
    margin-top: 0; } }

@media (max-width: 450px) {
  .thumbnail-img {
    width: 100%; } }

@media (min-width: 450px) {
  .homepage .recent-work {
    border: 2px solid white;
    max-width: 454px; }
    .homepage .recent-work .header {
      width: 100%; }
    .homepage .recent-work .thumbnail {
      width: 350px; } }

@media (min-width: 700px) {
  .homepage .recent-work {
    max-width: 704px; }
    .homepage .recent-work .thumbnail-img {
      width: 100%; }
    .homepage .recent-work .header {
      width: 350px; } }

@media (min-width: 1000px) {
  .homepage .recent-work {
    max-width: 904px; }
    .homepage .recent-work .thumbnail, .homepage .recent-work .header {
      width: 450px; } }

@media (min-width: 1300px) {
  .homepage .recent-work {
    max-width: 1304px; }
    .homepage .recent-work .header {
      width: 250px; }
    .homepage .recent-work .thumbnail {
      width: 350px; } }

.how-it-works .content {
  display: flex;
  flex-direction: column;
  width: 1000px;
  max-width: 80vw;
  background: #120404;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
  border: 2px solid white;
  padding: 47px 76px 76px 76px; }
  .how-it-works .content h2.header {
    margin-bottom: 29px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .how-it-works .content .steps {
    display: flex;
    gap: 29px; }
  .how-it-works .content .step-1, .how-it-works .content .step-2, .how-it-works .content .step-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    gap: 18px; }
  .how-it-works .content p {
    font-size: 29px;
    line-height: 1.2;
    text-align: center; }
  .how-it-works .content img {
    max-width: 48px;
    max-height: 48px;
    margin: 0 auto; }

.how-it-works .divider {
  top: -210px; }

@media (max-width: 1150px) {
  .how-it-works .content {
    margin-top: 47px;
    padding: 29px 47px 47px 47px; }
    .how-it-works .content h2.header {
      margin-bottom: 18px; }
    .how-it-works .content .steps {
      gap: 18px; }
    .how-it-works .content .step-1, .how-it-works .content .step-2, .how-it-works .content .step-3 {
      gap: 18px; }
    .how-it-works .content p {
      font-size: 18px; } }

@media (max-width: 560px) {
  .how-it-works .steps {
    flex-direction: column; }
  .how-it-works .content {
    max-width: 50vw; }
  .how-it-works .divider {
    top: -470px; } }

.homepage .divider {
  position: relative;
  z-index: -1;
  overflow: hidden; }
  .homepage .divider img {
    position: relative;
    left: -50px; }

.divider-services {
  padding-top: 11px;
  padding-bottom: 11px; }

.homepage .testimonials {
  display: flex;
  gap: 76px;
  margin: 76px;
  margin-top: 0;
  align-content: stretch; }
  .homepage .testimonials .quote {
    flex-grow: 1;
    flex-basis: 0; }
  .homepage .testimonials .quotation-mark {
    font-family: "Covik_Sans_Mono-Regular";
    font-size: 123px;
    color: #DC2626;
    height: 175px; }
  .homepage .testimonials .quote-body {
    margin-top: -47px;
    color: rgba(255, 255, 255, 0.8); }
  .homepage .testimonials .portrait {
    width: 76px;
    height: 76px;
    border-radius: 100%;
    border: 2px solid white; }
  .homepage .testimonials .person {
    margin-top: 29px;
    display: flex;
    gap: 18px;
    align-items: center; }
  .homepage .testimonials .name {
    font-family: "Covik_Sans-Medium";
    color: white;
    font-size: 20px;
    line-height: 1.2; }
  .homepage .testimonials .job-title {
    color: rgba(255, 255, 255, 0.65);
    line-height: 1.2; }

@media (max-width: 1150px) {
  .homepage .testimonials {
    margin-left: 29px;
    margin-right: 29px; } }

@media (max-width: 1150px) {
  .homepage .testimonials {
    flex-direction: column; }
  .homepage .quotation-mark {
    margin-top: -47px; }
  .homepage .quote {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto; } }

section.pricing {
  display: flex;
  justify-content: center;
  margin-top: 123px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding-top: 76px;
  padding-bottom: 76px;
  background: url(/source/images/vector-grid.svg);
  background-attachment: fixed;
  text-align: center; }
  section.pricing .container {
    border: 2px solid white;
    padding: 76px;
    padding-top: 47px;
    background: #120404;
    max-width: 950px; }
  section.pricing .header {
    text-align: center;
    margin-bottom: 7px; }
  section.pricing .title {
    display: flex;
    gap: 18px;
    align-items: center; }
  section.pricing .prices {
    display: flex;
    margin-top: 47px;
    gap: 76px;
    text-align: left; }
  section.pricing .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px; }
  section.pricing hr {
    border: 2px solid rgba(255, 255, 255, 0.2); }

@media (max-width: 800px) {
  section.pricing .prices {
    flex-direction: column;
    gap: 47px; }
  section.pricing hr {
    display: none; }
  section.pricing .container {
    max-width: 75vw;
    padding: 29px; } }

.services {
  display: flex;
  border-bottom: 2px solid white; }
  .services .header {
    display: flex;
    align-items: center;
    padding: 76px;
    border-right: 2px solid white; }
  .services .list {
    display: flex;
    padding: 47px 29px;
    justify-content: space-evenly;
    flex: 1 1 auto;
    gap: 18px; }
    .services .list p:not(.title) {
      color: rgba(255, 255, 255, 0.65); }
  .services .col .title {
    font-family: "Covik_Sans-Black";
    color: white; }
  .services .col {
    display: flex;
    flex-direction: column;
    gap: 7px; }

@media (max-width: 900px) {
  .services .header {
    padding: 29px; }
  .services .list {
    padding: 29px 47px;
    flex-wrap: wrap;
    justify-content: flex-start; } }

@media (max-width: 647px) {
  .services .header {
    flex: 1 1 auto;
    justify-content: flex-start;
    flex-direction: column; }
  .services .list {
    flex-direction: column;
    gap: 18px; }
  .services .col {
    gap: 0px; } }

section.process {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  justify-content: center;
  min-height: 323px;
  border-top: 2px solid white; }
  section.process .photo {
    border-right: 2px solid white;
    background: url("/source/images/photo-skiier.jpg") 33% center no-repeat;
    background-size: cover; }
  section.process .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    padding: 76px;
    gap: 18px; }

@media (max-width: 950px) {
  section.process .content {
    padding: 29px; } }

@media (max-width: 500px) {
  section.process {
    flex-direction: column; } }

.work-impact section.hero {
  padding-top: 123px;
  padding-left: 76px;
  background: url(/source/images/work-impact-hero-bg.png) no-repeat top 50px left 450px;
  max-width: 1380px;
  max-height: 800px;
  margin: 0 auto; }

.work-impact .hero-mockup {
  position: relative;
  top: -500px;
  left: 650px; }

.work-impact h1 {
  max-width: 12ch;
  margin-bottom: 0.3em; }

.work-impact p {
  max-width: 53ch; }

.work-impact .hero-list {
  margin-top: 47px; }

@media (max-width: 900px) {
  .work-impact .hero-mockup {
    top: 0;
    left: 0;
    max-width: 100vw; }
  .work-impact .hero-mockup img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 29px; }
  .work-impact section.hero {
    max-height: none;
    padding-top: 47px;
    padding-left: 47px;
    padding-right: 47px;
    background: url(/source/images/work-impact-hero-bg.png) no-repeat top -100px left 400px; } }

@media (max-width: 400px) {
  .work-impact section.hero {
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px; } }

.work-impact section.content {
  margin-bottom: 76px; }
  .work-impact section.content .header {
    margin-top: 76px;
    margin-bottom: 47px; }
  .work-impact section.content h3 {
    margin-bottom: 11px; }
  .work-impact section.content p, .work-impact section.content h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px; }
  .work-impact section.content p {
    max-width: 40ch; }
  .work-impact section.content .images {
    display: flex;
    justify-content: center;
    gap: 47px; }

.prototype-cover {
  width: 100%;
  height: 50px;
  background: #120404;
  position: relative;
  margin-top: -50px; }
