html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

.cf {
  overflow: auto; }

.cf::after {
  content: "";
  clear: both;
  display: table; }

.page-wrapper {
  overflow-x: hidden; }

*, *:before, *:after {
  box-sizing: border-box; }

h1 {
  font-size: 76px;
  letter-spacing: -0.02em;
  line-height: 1; }

@media (max-width: 768px) {
  h1 {
    font-size: 47px; } }

h2 {
  font-size: 47px;
  font-family: "Covik_Sans-Black";
  line-height: 1.2; }

@media (max-width: 768px) {
  h2 {
    font-size: 29px; } }

h3 {
  font-size: 29px;
  font-family: "Covik_Sans-Bold"; }

@media (max-width: 768px) {
  h3 {
    font-family: "Covik_Sans-Regular";
    color: white; } }

h4 {
  font-family: "Covik_Sans_Mono-Medium";
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.05em;
  text-transform: uppercase; }

h5 {
  font-family: "Covik_Sans_Mono-Bold";
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65); }

p {
  font-family: "Covik_Sans-Regular";
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.7; }

html {
  background: #120404;
  color: white;
  font-family: "Covik_Sans-Regular";
  font-size: 18px; }

html, body > * {
  box-sizing: border-box; }

a, .link, .button {
  cursor: pointer; }

::selection {
  background-color: #DC2626; }

u {
  text-decoration: underline;
  text-decoration-color: #DC2626; }

h1 u {
  text-decoration-thickness: 0.06em; }

.button {
  display: inline-block;
  padding: 18px 47px;
  text-align: center;
  font-size: 29px;
  background: #DC2626;
  border: 2px solid white; }

.hero-list h4 {
  margin-bottom: 18px; }

.hero-list > * {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-basis: 0; }

.hero-list h5 {
  flex-basis: 65px;
  text-align: right; }

.hero-list p {
  font-family: "Covik_Sans_Mono-Regular";
  color: white;
  line-height: 1; }

.hero-list .border {
  height: 18px;
  width: 12.5px;
  border-right: 2px solid white; }

.hero-list.wilbur {
  -webkit-mask-image: linear-gradient(black 50%, transparent);
  mask-image: linear-gradient(black 50%, transparent); }
  .hero-list.wilbur .border {
    width: 85px; }

section.hero {
  padding: 29px;
  background: url(/source/images/work-wilbur-hero-bg.png) no-repeat top right;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible; }
  section.hero .header {
    max-width: 15ch; }
  section.hero .subheader {
    margin-top: 18px;
    max-width: 62ch; }
  section.hero .hero-list {
    margin-top: 47px; }

@media (max-width: 500px) {
  section.hero .subheader {
    display: none; } }

.work-wilbur-hero {
  display: flex;
  justify-content: center; }

@media (max-width: 500px) {
  .work-wilbur-hero {
    margin-top: 18px;
    margin-left: -75%; } }

@media (min-width: 501px) and (max-width: 650px) {
  .work-wilbur-hero {
    margin-top: -250px;
    margin-right: -60%; } }

@media (min-width: 651px) and (max-width: 969px) {
  .work-wilbur-hero {
    margin-top: -200px;
    margin-right: -30%; } }

@media (min-width: 970px) {
  .work-wilbur-hero {
    margin-top: -550px;
    margin-right: -750px; } }

section.themes {
  margin-top: 47px; }
  section.themes .header {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 7px; }
  section.themes .subheader {
    padding-left: 18px;
    padding-right: 18px; }
  section.themes h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  section.themes p {
    text-align: center;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto; }

.work-themes {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  margin-top: 47px; }
  .work-themes img {
    border-radius: 4px; }

@media (min-width: 1050px) {
  .work-themes {
    flex-direction: row;
    justify-content: center; } }

section.website-embed {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 123px;
  text-align: center; }
  section.website-embed .header {
    padding-bottom: 7px;
    padding-left: 18px;
    padding-right: 18px; }
  section.website-embed .subheader {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 47px;
    max-width: 55ch; }

section.user-flow {
  margin-top: 123px;
  text-align: center; }
  section.user-flow .header {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 7px; }
  section.user-flow .subheader {
    margin-left: auto;
    margin-right: auto;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 47px;
    max-width: 60ch; }

.work-user-flow {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;
  margin-bottom: 123px; }

@media (max-width: 850px) {
  .work-user-flow {
    flex-direction: column;
    align-items: center; } }
