html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  include /source/components/google-analytics.pug


  body.page-work-impact
    include /source/components/nav.pug

    .hero.ma3.mb0.tc
      h1 Our <span style='color:red'>♡</span> SaaS project 
      p.mt-1 This client uses AI to gather news from all over the world and then data scientists verify the data. <br>This app allows you to easily digest all types of potential risks anywhere you might travel.

    .df.fd-column
      img(src='work-saas-project-02.jpg' srcset='work-saas-project-02@2x.jpg 2x' draggable='false')
      img(src='work-saas-project-03.jpg' srcset='work-saas-project-03@2x.jpg 2x' draggable='false')
      img(src='work-saas-project-04.jpg' srcset='work-saas-project-04@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='work-saas-project-05.jpg' srcset='work-saas-project-05@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='work-saas-project-06.jpg' srcset='work-saas-project-06@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='work-saas-project-07.jpg' srcset='work-saas-project-07@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='work-saas-project-08.jpg' srcset='work-saas-project-08@2x.jpg 2x' draggable='false' loading='lazy')

    include /source/components/cta.pug
    include /source/components/footer.pug
