h1, h2, h3, h4, h5, h6 {
  font-size: 1rem; }

a {
  color: inherit; }

:root {
  background-color: whitesmoke;
  font-family: 'Inconsolata', monospace;
  font-size: 19px;
  line-height: 1.618em;
  color: #453e34; }

h1, h2, h3, h4, h5, h6 {
  color: #363636;
  font-family: 'Merriweather', serif;
  font-size: 5rem; }

a {
  -webkit-text-decoration-color: gold;
  text-decoration-color: gold; }
  a:hover {
    text-decoration: underline;
    background-color: gold; }

small {
  opacity: 0.5; }

.merriweather {
  font-family: 'Merriweather', serif; }

.inconsolata {
  font-family: 'Inconsolata', monospace; }

.max-width {
  max-width: 28rem; }

::selection {
  background-color: gold; }

.centered {
  margin-right: auto;
  margin-left: auto; }

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }
