h1, h2, h3, h4, h5, h6 {
  font-size: 1rem; }

a {
  color: inherit;
  text-decoration: none; }

img {
  box-sizing: border-box; }

html, body, div, h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
  padding: 0; }

.f-1 {
  font-size: 0.1618rem !important; }

.f0 {
  font-size: 19px !important; }

.f1 {
  font-size: 1.618rem !important; }

.f2 {
  font-size: 3.236rem !important; }

.f3 {
  font-size: 4.854rem !important; }

:root {
  background-color: whitesmoke;
  font-family: 'Inconsolata', monospace;
  font-size: 19px;
  line-height: 1.5;
  color: #453e34; }

h1, h2, h3, h4, h5, h6 {
  color: #363636;
  font-size: 1.618rem;
  font-weight: normal; }

.blog-post h1, .blog-post h2, .blog-post h3 {
  font-family: 'Inconsolata', monospace;
  font-size: 1.618rem;
  font-weight: normal; }

.blog-post img {
  max-width: 180%;
  margin-left: -40%;
  padding: 0.75rem;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 1px 5px gainsboro; }

.blog-post--title {
  font-weight: 900;
  font-family: 'Merriweather', serif;
  font-size: 1.618rem; }

a {
  border-bottom: 0.15em solid gold; }
  a:hover {
    background-color: rgba(255, 215, 0, 0.5); }

small {
  opacity: 0.5; }

.merriweather {
  font-family: 'Merriweather', serif; }

.inconsolata {
  font-family: 'Inconsolata', monospace; }

.max-width {
  max-width: 36rem;
  max-width: 47rem; }

::selection {
  background-color: rgba(255, 215, 0, 0.85); }

.airtable-embed {
  display: none; }

input[type=checkbox].checkbox-hack {
  display: none; }

input[type=checkbox].checkbox-hack:checked ~ .airtable-embed {
  display: block; }

@keyframes party {
  0% {
    background-color: #fece7a; }
  12% {
    background-color: #7eff7a; }
  24% {
    background-color: #7effff; }
  36% {
    background-color: #7ba3fe; }
  48% {
    background-color: #cb70fe; }
  60% {
    background-color: #fc49f5; }
  78% {
    background-color: #fc4ea7; }
  90% {
    background-color: #fd5258; } }

.party {
  background-color: #fece7a;
  animation: party 2s infinite; }
