link(rel='stylesheet' href='/source/components/banner.css' preload)

.banner
  .banner-text
    h6 Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ Now accepting bitcoin ▷▷▷▷▷ 