link(rel='stylesheet' href='/source/components/cta.css' preload)

section.cta
  .container
    h2.header What are you waiting for? ✌
    p.subheader Send us a message and we’ll be in touch within 1 business day. We love helping startups &amp; fast-moving businesses like yours!
    a.button(href='https://airtable.com/shr5OfqlF5QetFVKe' target='_blank') Let’s go!
