link(rel='stylesheet' href='/source/components/cta.css' preload)

section.cta
  .container
    h3.header What are you waiting for? ✌
    p.subheader Getting started is risk-free. If it’s a good fit we can get started immediately. We’re here to help, even if we don’t work together.
    a.button(href='https://calendly.com/gotimehq/meet' target='_blank' data-sa-event="Primary CTA clicked") Book a Call
    p.button-afterword 7-day Money-Back Guarantee
