link(rel='stylesheet' href='/source/components/cta.css' preload)

section.cta
  .container
    h3.header What are you waiting for? ✌
    p.subheader Getting started is risk-free. If it’s a good fit we can get started immediately. We’re here to help, even if we don’t work together.
    a.button(href='/book-a-call' target='_blank') Get Started in 1 Day
    p.button-afterword 7-day money-back guarantee
