link(rel='stylesheet' href='source/components/cta.css' preload)

section.cta
  .container
    h2.header Schedule your free discovery call
    p.subheader We love connecting with ambitious people like you. Let’s see how we can help you.
    a.button(href='https://calendly.com/gotimehq/meet' target='_blank') Let’s go!
