link(rel='stylesheet' href='source/components/footer.css' preload)

section.footer
  div
    p Made with ❤ in Vancouver, Canada
    p &copy; Copyright 2022 Go Time HQ
  .social
    a(href='https://www.linkedin.com/company/go-time-hq/' target='_blank')
      img(src="source/images/icon-social-linkedin.svg")
    a(href='https://twitter.com/gotimehq_' target='_blank')
      img(src="source/images/icon-social-twitter.svg")
    a(href='https://dribbble.com/gotimehq' target='_blank')
      img(src="source/images/icon-social-dribbble.svg")
