.footer {
  display: flex;
  padding: 32px;
  padding-left: 29px;
  padding-right: 29px;
  font-family: "Covik_Sans_Mono-Regular";
  align-items: center;
  justify-content: space-between; }
  .footer .social {
    display: flex;
    gap: 29px; }
