link(rel='stylesheet' href='/source/components/form.css' preload)

a(href="#modalbox-example") Open modalbox example

.modalbox#modalbox-example
  .modalbox-wrapper
    a.modalbox-close(href="#")
    .modalbox-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis enim, placerat id eleifend eu, semper vel sem.