meta(charset="UTF-8")
link(rel="stylesheet" type="text/css" href="/source/webfonts-min.css" preload)
link(rel='stylesheet' href='/css/style.css' preload)
meta(name="viewport" content="width=device-width, initial-scale=1")

//- https://favicon.io
link(rel="apple-touch-icon" sizes="180x180" href="/source/favicon/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/source/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/source/favicon/favicon-16x16.png")
link(rel="manifest" href="/source/favicon/site.webmanifest")

meta(name="theme-color" content="#140505" media="(prefers-color-scheme: light)")
meta(name="theme-color" content="#140505" media="(prefers-color-scheme: dark)")

//- 100% privacy-first analytics
script(async defer src="https://scripts.simpleanalyticscdn.com/latest.js")
script(async src="https://scripts.simpleanalyticscdn.com/auto-events.js")
noscript
  img(src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade")
script.
  var urlParams = window.location.pathname;
  if (urlParams.startsWith("/blog")) {
      var content_type = "TOFU";
  }
  if (urlParams.startsWith("/case-studies")) {
      var content_type = "MOFU";
  }
  if (urlParams.startsWith("/pricing") || urlParams.startsWith("/features")) {
      var content_type = "BOFU";
  }
  var sa_fa = document.getElementsByTagName("a");
  for (let i = 0; i < sa_fa.length; i++) {
      sa_fa[i].setAttribute("onclick", `sa_event(${content_type})`);
  }




//- Google Tag Manager
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MC3HD5SG');



//- //- Try Scrollmagic
//- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
//- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")

//- //- Load script file
//- script(src='/source/scripts.js')

//- //- Try Animate.css
//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")