include /source/components/meta-tag-custom.pug

// Default Meta Tags
+metaTagCustom(
  "Elite UX/UI Design, Fast • Go Time Design", 
  "Accelerate your design process with Go Time. No commitment, flat-rate designs delivered every 2-4 days.",
  "",
  "social-preview")