// Primary Meta Tags

// Title
title Design Services for Startups &amp; Enterprise • Go Time Design Studio
meta(name='title' content='Design Services for Startups & Enterprise • Go Time Design Studio')
meta(property='og:title' content='Design Services for Startups & Enterprise • Go Time Design Studio')
meta(property='twitter:title' content='Design Services for Startups & Enterprise • Go Time Design Studio')

// Description
meta(name='description' content='Go Time is a high-speed design studio for startups & enterprise. Get exceptional design services extremely fast. See your first designs in under a week.')
meta(property='og:description' content='Go Time is a high-speed design studio for startups & enterprise. Get exceptional design services extremely fast. See your first designs in under a week.')
meta(property='twitter:description' content='Go Time is a high-speed design studio for startups & enterprise. Get exceptional design services extremely fast. See your first designs in under a week.')

// Open Graph / Facebook
meta(property='og:type' content='website')
meta(property='og:url' content='https://gotimehq.com/')
meta(property='og:image' content='https://gotimehq.com/source/images/social-preview.jpg')

// Twitter
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:url' content='https://gotimehq.com/')
meta(property='twitter:image' content='https://gotimehq.com/source/images/social-preview.jpg')