// Primary Meta Tags
title Go Time – your on-demand design studio
meta(name='title' content='Go Time – your on-demand design studio')
meta(name='description' content='Your on-demand design studio. Simple pricing for exceptional design services. Let us know what you need and you’ll see designs in 2-4 days.')
// Open Graph / Facebook
meta(property='og:type' content='website')
meta(property='og:url' content='https://gotimehq.com/')
meta(property='og:title' content='Go Time – your on-demand design studio')
meta(property='og:description' content='Your on-demand design studio. Simple pricing for exceptional design services. Let us know what you need and you’ll see designs in 2-4 days.')
meta(property='og:image' content='https://gotimehq.com/source/images/social-preview.jpg')
// Twitter
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:url' content='https://gotimehq.com/')
meta(property='twitter:title' content='Go Time – your on-demand design studio')
meta(property='twitter:description' content='Your on-demand design studio. Simple pricing for exceptional design services. Let us know what you need and you’ll see designs in 2-4 days.')
meta(property='twitter:image' content='https://gotimehq.com/source/images/social-preview.jpg')