link(rel='stylesheet' href='source/components/nav.css' preload)

.navbar
  a(href='index.html').logo
    img(src="source/images/logomark--white.svg" draggable='false')
  .scroller
    img(src="source/images/vector-arrows.svg")
  a(href='work-risk.html').link Work
  //- a.link(href='') Ideas
  a.cta(href='https://calendly.com/gotimehq/meet' target='_blank') Let’s go!
