.navbar {
  height: 76px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 18px;
  font-family: "Covik_Sans-Black";
  display: flex;
  top: 0;
  z-index: 1; }
  .navbar .link {
    flex: 0 0 auto;
    padding-left: 18px;
    padding-right: 29px;
    flex-wrap: wrap;
    transition: 250ms ease-in; }
    .navbar .link:hover {
      color: #DC2626; }
  .navbar > * {
    display: flex;
    align-items: center; }
  .navbar .logo {
    flex: 0 0 auto;
    padding-left: 18px; }

@media (max-width: 510px) {
  .navbar {
    flex-wrap: wrap; }
  .navbar, .navbar .flex {
    justify-content: center;
    margin-top: 7px; } }
