.navbar {
  height: 76px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 18px;
  font-family: "Covik_Sans-Black";
  text-align: center;
  display: flex;
  top: 0;
  z-index: 1; }
  .navbar .link {
    flex: 0 0 auto;
    padding-left: 18px;
    padding-right: 29px;
    flex-wrap: wrap; }
    .navbar .link:hover {
      color: 90deg, #DC2626 0%, #FA603E 100%;
      background: -webkit-linear-gradient(90deg, #DC2626 0%, #FA603E 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: 250ms ease-in; }
  .navbar > * {
    display: flex;
    align-items: center; }
  .navbar .logo {
    flex: 0 0 auto;
    padding-left: 18px; }
  .navbar .nav-cta {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #DC2626; }
  .navbar .nav-cta {
    transition: 200ms ease-in; }
  .navbar .nav-cta:hover {
    border: 2px solid white;
    box-shadow: -7px 7px 0px #120404, -7px 7px 0px 2px white; }

@media (max-width: 800px) {
  .navbar {
    flex-wrap: wrap; }
    .navbar .links {
      flex-wrap: wrap; }
    .navbar .link {
      padding: 11px 7px; }
  .navbar, .navbar .flex {
    justify-content: center;
    margin-top: 7px; } }

@media (max-width: 500px) {
  .navbar {
    margin-bottom: 76px; } }
