@import '../source/_variables.sass'

// NAVBAR
// flexbox guide https://css-tricks.com/snippets/css/a-guide-to-flexbox/

.navbar
  height: $s3--76
  padding-left: $s0
  padding-right: $s0
  @include fs0--18
  @include f-sans-800-black
  display: flex
  top: 0
  z-index: 1

  .link
    flex: 0 0 auto
    padding-left: $s0
    padding-right: $s1
    flex-wrap: wrap

    transition: 250ms ease-in 
    &:hover
      color: $accent

  // Center the text in the navbar
  > *
    display: flex
    align-items: center

  // Style the logo in the navbar
  .logo
    flex: 0 0 auto
    padding-left: $s0--18


// NAVBAR MOBILE

@media (max-width: 510px)
  .navbar
    flex-wrap: wrap
  .navbar, .navbar .flex
    justify-content: center
    margin-top: $s-2