link(rel='stylesheet' href='source/components/nav.css' preload)

.navbar
  a(href='index.html' draggable='false').logo
    img(src="source/images/logomark--white.svg" draggable='false')
  .scroller
    img(src="source/images/vector-arrows.svg" draggable='false')
  a(href='work-risk.html').link Work
  a(href='https://airtable.com/shr5OfqlF5QetFVKe' target='_blank').link Contact
  //- a.link(href='') Ideas
  a.cta(href='https://calendly.com/gotimehq/meet' target='_blank') Let’s go!
