link(rel='stylesheet' href='/source/components/nav.css' preload)

.navbar
  a(href='/index.html' draggable='false').logo
    img(src="/source/images/logomark--white.svg" draggable='false')
  //- .fg-1.bg-black
  .flex.jc-flex-end.fg-1
    a(href='/services').link Services
    a(href='/projects').link Projects
    a(href='https://calendly.com/gotimehq/meet' target='_blank').link Get an intro
  //- a.cta(href='https://airtable.com/shr5OfqlF5QetFVKe' target='_blank') Let’s go!
