link(rel='stylesheet' href='/source/components/nav.css' preload)

.navbar
  a(href='/index.html' draggable='false').logo
    img(src="/source/images/logomark--white.svg" draggable='false')
  .scroller
    img(src="/source/images/vector-arrows.svg" draggable='false')
  //- a(href='#work').link Work
  a.cta(href='https://airtable.com/shr5OfqlF5QetFVKe' target='_blank') Let’s go!
