link(rel='stylesheet' href='/source/components/nav.css' preload)

//- Google Tag Manager (noscript)
noscript
  iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-MC3HD5SG" height="0" width="0" style="display:none;visibility:hidden")

.navbar
  a(href='/index.html' draggable='false').logo
    img(src="/source/images/logomark--white.svg" draggable='false')
  .links.flex.jc-flex-end.fg-1
    a(href='/case-studies').link Case Studies
    a(href='/services').link Services
    //- a(href='/projects').link Projects
    a(href='/referrals').link Refer &amp; Earn
    a(href='https://calendly.com/gotimehq/meet' target='_blank' data-sa-event="Primary CTA clicked").nav-cta.b Book a Call
