link(rel='stylesheet' href='/source/components/nav.css' preload)
script(src="/source/components/nav.js" type="text/javascript")

nav.navbar
  a.logo(href='/index.html' data-sa-link-event='nav_home' draggable='false')
    img(src="/source/images/logomark--white.svg" draggable='false')

  .btn--open-nav =

  .navigation
    .btn--close-nav x
    a.link(href='/portfolio' data-sa-link-event='nav_portfolio') Portfolio
    a.link(href='/services' data-sa-link-event='nav_services') Services
    a.link(href='/referrals' data-sa-link-event='nav_referrals') Refer &amp; Earn
    a.nav-cta.b(href='https://calendly.com/gotimehq/meet' data-sa-link-event='primary_CTA' target='_blank') Book a Call
