link(rel='stylesheet' href='/source/components/pricing.css' preload)

.pricing-section
  .header-group
    .super-header The numbers
    .header Simple &amp; clear pricing 

  .pricing-tiers
    .pricing-tier.animate--on-scroll.animation--blur.animation--up
      .price-header Lean Design <br> Subscription
      .checklist
        .checklist-item Dedicated on-shore designer
        .checklist-item Designs delivered in 2-4 days
        .checklist-item 9 fractional days / month
        .checklist-item 2 strategy meetings / month
        .checklist-item On-going chat support
        .checklist-item Cancel any time
      .price $4,000/mo
      .text-extra-subtle Or the equivalent in BTC

    .pricing-tier.animate--on-scroll.animation--blur.animation--up
      .tag Most popular
      .price-header Full Design <br> Subscription
      .checklist
        .checklist-item Dedicated on-shore designer
        .checklist-item Designs delivered in 2-4 days
        .checklist-item Unlimited days / month
        .checklist-item Unlimited strategy meetings
        .checklist-item On-going chat support
        .checklist-item Cancel any time
      .price $8,000/mo
      .text-extra-subtle Or the equivalent in BTC


    .pricing-tier.animate--on-scroll.animation--blur.animation--up
      .price-header Design <br> On-Demand
      .checklist
        .checklist-item Dedicated on-shore designer
        .checklist-item Designs delivered in 2-4 days
        .checklist-item Flexible &amp; predictable
        .checklist-item Fixed rate projects
        .checklist-item Affordable
        .checklist-item Pay as you go
      .price Starting at $3,500
      .text-extra-subtle Or the equivalent in BTC