
<link rel="stylesheet" href="/source/components/pricing.css" preload="preload"/>
<section class="pricing-section">
  <div class="header-group">
    <div class="super-header">The numbers</div>
    <div class="header">Simple &amp; clear pricing </div>
  </div>
  <div class="pricing-tiers">
    <div class="pricing-tier animate--on-scroll animation--blur animation--up">
      <div class="price-header">Lean Design <br> Subscription</div>
      <div class="checklist">
        <div class="checklist-item">Dedicated on-shone designer</div>
        <div class="checklist-item">Designs delivered in 2-4 days</div>
        <div class="checklist-item">9 fractional days / month</div>
        <div class="checklist-item">2 strategy meetings / month</div>
        <div class="checklist-item">On-going chat support</div>
        <div class="checklist-item">Cancel any time</div>
      </div>
      <div class="price">$4,000/mo</div>
      <div class="text-extra-subtle">Or the equivalent in BTC</div>
    </div>
    <div class="pricing-tier animate--on-scroll animation--blur animation--up">
      <div class="tag">Most popular</div>
      <div class="price-header">Full Design <br> Subscription</div>
      <div class="checklist">
        <div class="checklist-item">Dedicated on-shone designer</div>
        <div class="checklist-item">Designs delivered in 2-4 days</div>
        <div class="checklist-item">Unlimited days / month</div>
        <div class="checklist-item">Unlimited strategy meetings</div>
        <div class="checklist-item">On-going chat support</div>
        <div class="checklist-item">Cancel any time</div>
      </div>
      <div class="price">$8,000/mo</div>
      <div class="text-extra-subtle">Or the equivalent in BTC</div>
    </div>
    <div class="pricing-tier animate--on-scroll animation--blur animation--up">
      <div class="price-header">Design <br> On-Demand</div>
      <div class="checklist">
        <div class="checklist-item">Dedicated on-shone designer</div>
        <div class="checklist-item">Designs delivered in 2-4 days</div>
        <div class="checklist-item">Flexible &amp; predictable</div>
        <div class="checklist-item">Fixed rate projects</div>
        <div class="checklist-item">Affordable</div>
        <div class="checklist-item">Pay as you go</div>
      </div>
      <div class="price">Starting at $3,500</div>
      <div class="text-extra-subtle">Or the equivalent in BTC</div>
    </div>
  </div>
</section>