html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tag-custom.pug
    +metaTagCustom(
      "Refer a design client &amp; earn $1,600 instantly • Go Time Design Studio", 
      "Go Time is a high-speed design studio for startups & enterprise. Get exceptional design services extremely fast. See your first designs in under a week.",
      "referrals",
      "social-preview-referrals.jpg")

  body.page.subpage.page-referrals
    include /source/components/nav.pug
    .layout-with-sticky-image
      .layout-header.animate--on-scroll.animation--blur.animation--right
        h1.header Refer a client <span class='text-highlight'>&amp; earn $1,600 instantly&nbsp;</span>
        p Plus earn 10% of Go Time’s monthly fee for each additional month up to one year. That’s $10,400 for referring a single client—a nice chunk of change. Download our one-pager and share.
        a.button.mt0.mb1(href='/one-pager' data-sa-link-event='download_one_pager' target='_blank') Download One-Pager

        .layout-visuals.layout-mobile.animate--on-scroll.animation--blur.animation--left
          img.image-with-border(src='/source/images/photo-benjamin.jpg' srcset='/source/images/photo-benjamin@2x.jpg 2x' draggable='false')

        .mt3.animate--on-scroll.animation--blur.animation--right
          h4.mb0 Terms &amp; conditions
          .checklist
            .checklist-item Valid for new, first-time clients only
            .checklist-item Valid for full priced subscription ($8,000/mo), no other services or discounts
            .checklist-item Referrer will get 20% ($1,600) the first full priced subscription month and 10% ($800) of the following full priced subscription 11 months for each consecutive month the newly referred client is subscribed and pays their invoice
            .checklist-item If a new client end the full priced subscription before the 12 months, the referral money also stops
            .checklist-item Referrer must be identified at the beginning of the new subscription (there will be no referral backpay)
            .checklist-item There must be proof you referred them (e.g. they mention you in an email)
            .checklist-item Payments sent when client payment clears (usually 5-10 days)
            .checklist-item Offer subject to change or end at any time
            .checklist-item Payments end when the referred client ends the full priced subscription or after 12 months, whichever comes first 

      .layout-visuals.layout-desktop.animate--on-scroll.animation--blur.animation--left
        img.image-with-border.image-sticky(src='/source/images/photo-benjamin.jpg' srcset='/source/images/photo-benjamin@2x.jpg 2x' draggable='false')

    include /source/components/footer.pug
