html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/google-analytics.pug

    // Primary Meta Tags

    // Title
    title Refer a design client &amp; earn $1,600 instantly • Go Time Design Studio
    meta(name='title' content='Refer a design client &amp; earn $1,600 instantly • Go Time Design Studio')
    meta(property='og:title' content='Refer a design client &amp; earn $1,600 instantly • Go Time Design Studio')
    meta(property='twitter:title' content='Refer a design client &amp; earn $1,600 instantly • Go Time Design Studio')

    // Description
    meta(name='description' content='Go Time is a high-speed design studio for startups & enterprise. Get exceptional design services extremely fast. See your first designs in under a week.')
    meta(property='og:description' content='Go Time is a high-speed design studio for startups & enterprise. Get exceptional design services extremely fast. See your first designs in under a week.')
    meta(property='twitter:description' content='Go Time is a high-speed design studio for startups & enterprise. Get exceptional design services extremely fast. See your first designs in under a week.')

    // Open Graph / Facebook
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://gotimehq.com/referrals')
    meta(property='og:image' content='/source/images/social-preview-referrals.jpg')

    // Twitter
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='https://gotimehq.com/referrals')
    meta(property='twitter:image' content='/source/images/social-preview-referrals.jpg')

  body.page.subpage.page-referrals
    include /source/components/nav.pug
    .layout-with-sticky-image
      .layout-header.animate--on-scroll.animation--blur.animation--right
        h1.header Refer a client <span class='text-highlight'>&amp; earn $1,600 instantly&nbsp;</span>
        p Plus earn 10% of Go Time’s monthly fee for each additional month up to one year. That’s $10,400 for referring a single client—a nice chunk of change. Download our one-pager and share.
        a.button.mt0.mb1(href='/one-pager' data-sa-link-event='download_one_pager' target='_blank') Download One-Pager

        .layout-visuals.layout-mobile.animate--on-scroll.animation--blur.animation--left
          img.image-with-border(src='/source/images/photo-benjamin.jpg' srcset='/source/images/photo-benjamin@2x.jpg 2x' draggable='false')

        .mt3.animate--on-scroll.animation--blur.animation--right
          h4.mb0 What if I’m your new client?
          p If this is your first time working with us, yes! Let’s pass on those sweet savings to you! (So long as we’re not paying someone a referral for you.)

        .mt3.animate--on-scroll.animation--blur.animation--right
          h4.mb0 What if I want to pass the savings to my referral?
          p By all means! We’re happy to apply it to their subscription instead.

        .mt3.animate--on-scroll.animation--blur.animation--right
          h4.mb0 Terms &amp; conditions
          ul.fs0.text-default
            li.mb0 ☑ Valid for new clients only
            li.mb0 ☑ Valid for full priced subscription ($8,000/mo), no other services or discounts
            li.mb0 ☑ Referrer will get 20% ($1,600) the first full priced subscription month and 10% ($800) of the following full priced subscription 11 months for each consecutive month the newly referred client is subscribed and pays their invoice
            li.mb0 ☑ If a new client end the full priced subscription before the 12 months, the referral money also stops
            li.mb0 ☑ Referrer must be identified at the beginning of the new subscription (there will be no referral backpay)
            li.mb0 ☑ There must be proof you referred them (e.g. they mention you in an email)
            li.mb0 ☑ Payments sent when client payment clears (usually 5-10 days)
            li.mb0 ☑ Offer subject to change or end at any time
            li.mb0 ☑ Payments end when the referred client ends the full priced subscription or after 12 months, whichever comes first 

      .layout-visuals.layout-desktop.animate--on-scroll.animation--blur.animation--left
        img.image-with-border.image-sticky(src='/source/images/photo-benjamin.jpg' srcset='/source/images/photo-benjamin@2x.jpg 2x' draggable='false')

    include /source/components/footer.pug
