html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  include /source/components/google-analytics.pug



  body.page-case-study
    include /source/components/nav.pug
    .hero
      h2.header Amazing <span class='text-highlight'>outcomes </span> 
      p At Go Time we’re extremely proud of how we’ve helped our clients. Here’s just a small sampling of our amazing outcomes.

    section.case-studies-section
      .case-studies
        
        a(href='/case-studies/fractional-product-design').case-study.link-with-border.animate--on-scroll.animation--blur.animation--up
          .case-study-thumbnail
            img(src='/case-studies/fractional-product-design/case-study-1.jpg' srcset='/case-studies/fractional-product-design/case-study-1.jpg 2x' draggable='false' loading='lazy')
          .case-study-header Did 9 months of work in 4 months
          .case-study-body Product design • microsites • marketing • web &amp; mobile app

        a(href='/case-studies/mvp-in-7-days').case-study.link-with-border.animate--on-scroll.animation--blur.animation--up
          .case-study-thumbnail
            img(src='/case-studies/mvp-in-7-days/case-study-1.jpg' srcset='/case-studies/mvp-in-7-days/case-study-1@2x.jpg 2x' draggable='false' loading='lazy')
          .case-study-header Started building an MVP in 7 days
          .case-study-body Product design • branding • web &amp; mobile app • creative direction

        a(href='/case-studies/leads-in-24-hours').case-study.link-with-border.animate--on-scroll.animation--blur.animation--up
          .case-study-thumbnail
            img(src='/case-studies/leads-in-24-hours/case-study-1.jpg' srcset='/case-studies/leads-in-24-hours/case-study-1@2x.jpg 2x' draggable='false' loading='lazy')
          .case-study-header Started getting leads in 24 hours
          .case-study-body Website design • Webflow build • branding • creative direction

    include /source/components/cta.pug
    include /source/components/footer.pug
