html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug
    include /source/components/google-analytics.pug

  body.page-portfolio-piece.layout-centered
    include /source/components/nav.pug
    include /source/components/portfolio-piece.pug

    .hero.ma3.mb0.pl0.pr0.tc
      a(href="/portfolio") 
        h5 Portfolio
      h2.header Go Time helped Near design the world’s <span class='text-highlight'>1st successful crypto micro-economy</span>

      p Web3 is still in its early days. Several conferences have tried to launch an experience built on their own cryptocurrency. In November 2023 <u><a href='https://near.org' target='_blank'>NEAR Foundation</a></u> was the first to do it successfully. Go Time helped design the entire experience for receiving and sending NCON at the Nearcon in Lisbon.
    
    +portfolioPieceImg('portfolio-near-01')
    +portfolioPieceImg('portfolio-near-02')
    +portfolioPieceImg('portfolio-near-03')
    +portfolioPieceImg('portfolio-near-04')
    +portfolioPieceImg('portfolio-near-05')
    +portfolioPieceImg('portfolio-near-06')
    +portfolioPieceImg('portfolio-near-07')
    +portfolioPieceImg('portfolio-near-08')
    +portfolioPieceImg('portfolio-near-09')

    include /source/components/cta.pug
    include /source/components/footer.pug