meta(property='og:image' content='social-preview-one-pager.jpg')
meta(name='title' content='Design Services for Startups & Enterprise • Go Time Design Studio')
meta(property='og:title' content='Design Services for Startups & Enterprise • Go Time Design Studio')
meta(http-equiv='refresh' content='0; URL=/one-pager/Go Time Design - One-Pager.pdf') 