html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  include /source/components/google-analytics.pug



  body.page.subpage
    include /source/components/nav.pug
    .layout-with-sticky-image
      .layout-header
        h1 Design services for <span class='text-highlight'>fast-moving&nbsp; teams&nbsp;</span>
        p At Go Time we’ve helped many founders &amp; fast-moving businesses with everything below. You’re going to see your first round of designs in under a week. This isn’t our first rodeo!

        .layout-visuals.layout-mobile
          img.image-with-border(src='/source/images/photo-hairpin-turn.jpg' srcset='/source/images/photo-hairpin-turn@2x.jpg 2x' draggable='false')

        mixin service(serviceName, link)
          a(href=link).df.jc-space-between.bb.pt1.pb1
            h3= serviceName
            h3 →

        mixin serviceNoLink(serviceName)
          .df.jc-space-between.bb.pt1.pb1
            h3= serviceName

        +service('Pitch Decks', '/services/pitch-decks')
        +service('MVP Sprints', '/services/mvp-sprints')
        +service('HiFi Prototypes', '/services/hifi-prototypes')
        +service('Design Systems', '/services/design-systems')
        +serviceNoLink('Branding & Logo Design')
        +serviceNoLink('UX/UI Design')
        +serviceNoLink('Website Designs')
        +serviceNoLink('Landing Pages')
        +serviceNoLink('Webflow Builds')
        +serviceNoLink('Design Thinking Workshops')

      .layout-visuals.layout-desktop
        img.image-with-border.image-sticky(src='/source/images/photo-hairpin-turn.jpg' srcset='/source/images/photo-hairpin-turn@2x.jpg 2x' draggable='false')




    include /source/components/cta.pug
    include /source/components/footer.pug
