html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  body.page.subpage
    include /source/components/nav.pug
    .layout-with-sticky-image
      .layout-header.animate--on-scroll.animation--blur.animation--right
        h1 The design subscription is <span class='text-highlight'>all-inclusive</span>
        p Go Time gives you access to world-class design services. When you’re subscribed, everything below is at your finger tips. It’s all inclusive. Not only that, but turnaround is always 2-4 days.

        .layout-visuals.layout-mobile.animate--on-scroll.animation--blur.animation--left
          img.image-with-border(src='/source/images/photo-hairpin-turn.jpg' srcset='/source/images/photo-hairpin-turn@2x.jpg 2x' draggable='false')

        mixin service(serviceName, link)
          a(href=link).df.jc-space-between.bb.pt1.pb1
            h3= serviceName
            h3 →

        mixin serviceNoLink(serviceName)
          .df.jc-space-between.bb.pt1.pb1
            h3= serviceName
        
        .animate--on-scroll.animation--up.animation--blur
          +service('Branding & Logo Design', '/services/branding')
          +service('UX/UI Design', '/services/ux-ui-design')
          +service('Mobile Apps', '/services/mobile-apps')
          +service('Design Systems', '/services/design-systems')
          +service('MVP Sprints', '/services/mvp-sprints')
          +service('HiFi Prototypes', '/services/hifi-prototypes')
          +service('Pitch Decks', '/services/pitch-decks')
          +serviceNoLink('Website Design / Landing Pages')
          +serviceNoLink('Webflow Builds')
          +serviceNoLink('Design Thinking Workshops')

      .layout-visuals.layout-desktop.animate--on-scroll.animation--blur.animation--left
        img.image-with-border.image-sticky(src='/source/images/photo-hairpin-turn.jpg' srcset='/source/images/photo-hairpin-turn@2x.jpg 2x' draggable='false')




    include /source/components/cta.pug
    include /source/components/footer.pug
