html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug
    meta(http-equiv="Refresh" content="0; url='https://buy.stripe.com/8wM5omcJdbcO6646ov'")

  include /source/components/google-analytics.pug

