html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  include /source/components/google-analytics.pug



  body.page.subpage
    include /source/components/nav.pug
    .layout-with-sticky-image
      .layout-header
        a(href='/services').pa-2
          h4 SERVICES
        h1 <u>High-Fidelity Prototypes</u> for startups &amp; fast-moving companies
        p Are you ready to get your product out into the world? Don't wait for weeks or months of development, get a working prototype in a matter of days! Your prototype will be clickable and shareable so you can start testing and getting real feedback right away. Don’t wait, start collecting valuable feedback today!

      .layout-visuals
        img.image-with-border.image-sticky(src='/source/images/photo-prototype-computer.jpg' srcset='/source/images/photo-prototype-computer@2x.jpg 2x' draggable='false')




    include /source/components/cta.pug
    include /source/components/footer.pug
