html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  include /source/components/google-analytics.pug


  body.page-case-study
    include /source/components/nav.pug

    .hero
      a(href="/case-studies") 
        h5 Case Studies
      h2.header Go Time helped Riskline do 9 months <span class='text-highlight'>in 4 months</span>

      p The fastest you will hire a product designer is 6 weeks, but 3 months is realistic. And the fastest you will onboard that designer will be 1 week, but 2 months is realistic. Riskline made the smart decision to skip the headache and joined Go Time’s design subscription. Go Time is productive immediately: onboarding in a day and delivering the first designs in under a week. Plus, the flexible subscription can be paused or cancelled anytime. The last thing you want in these turbulent times is to worry about is another round of layoffs.

      p Over the course of 4 months, Go Time helped Riskline accomplish a lot of goals: web app redesign, email designs, prototypes for high stakes demos, microsites, lead generator, new web app design, embeddable widget design, another lead generator, landing page design, another prototype, an interactive map tool, and one-pagers.

    .df.fd-column
      img(src='case-study-1.jpg' srcset='case-study-1@2x.jpg 2x' draggable='false')
      img(src='case-study-2.jpg' srcset='case-study-2@2x.jpg 2x' draggable='false')
      img(src='case-study-3.jpg' srcset='case-study-3@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='case-study-4.jpg' srcset='case-study-4@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='case-study-5.jpg' srcset='case-study-5@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='case-study-6.jpg' srcset='case-study-6@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='case-study-7.jpg' srcset='case-study-7@2x.jpg 2x' draggable='false' loading='lazy')

    include /source/components/cta.pug
    include /source/components/footer.pug
