//- thought.pug
doctype html
html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='../style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather:400,400i,900,900i')
  block html title
    title
body
  article.centered.max-width.blog-post.my2
    header.blog-post--title.merriweather
      block title
    small
      block date
    block content
