html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  include /source/components/google-analytics.pug



  body.page.subpage
    include /source/components/nav.pug
    .layout-with-sticky-image
      .layout-header
        a(href='/services').pa-2
          h4 SERVICES
        h1 <u>Design Systems</u> for startups &amp; fast-moving companies
        p It’s important to build consistent and reusable components for your product. But at an early stage, you don’t need it to be over-designed. With design deliverables like reusable components, a customizable color palettes, and a full-featured design library, you'll be able to quickly and easily build a design system that meets your needs. Get up and running with your design system today and start creating amazing user experiences today.

      .layout-visuals
        img.image-with-border.image-sticky(src='/source/images/photo-lego.jpg' srcset='/source/images/photo-lego@2x.jpg 2x' draggable='false')




    include /source/components/cta.pug
    include /source/components/footer.pug
