head
  link(rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
  link(rel='stylesheet' href='css/style.css')
  base(href='https://philsmith.me')

body.ma4(style="font-family: 'Helvetica', sans-serif; max-height: 100px;")
  //- nav
    a.mr2(href='#') Phil Smith
    a.mr2(href='#') Design
    a.mr2.o-30 Curiosities [soon]
    a.mr2(href='#') Connect
    hr
  main
    .horizontal-scroll-wrapper
      mixin card
        .card
          h1.pa6 Carddd
      +card
      +card
      +card
      +card
    //- .mt6.mb6
      h1 Never Average
      p Paragraph

  //- footer.o-50
    hr  
    a.mr2 Tachyons
    a.mr2(href='http://tachyons.io/docs/') Documentation
    a.mr2(href='http://tachyons.io/components/') Components
    a.mr2(href='https://pugjs.org/api/getting-started.html') Pug
