html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  body.page.subpage
    include /source/components/nav.pug
    .layout-with-sticky-image
      .layout-header
        a(href='/services').pa-2
          h4 SERVICES
        h1 <u>MVP Sprints</u> for startups &amp; fast teams
        p Are you ready to start getting feedback or start development on your MVP? MVP Sprints offer a quick and efficient solution. You’ll get the key screens or the key flow of your project designed within a matter of days. Get down to the business of launching your MVP in no time.

      .layout-visuals
        img.image-with-border.image-sticky(src='/source/images/photo-sprint.jpg' srcset='/source/images/photo-sprint@2x.jpg 2x' draggable='false')




    include /source/components/cta.pug
    include /source/components/footer.pug
