html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  include /source/components/google-analytics.pug


  body.case-study
    include /source/components/nav.pug

    .hero
      a(href="/case-studies") 
        h5 Case Studies
      h2.heading Go Time helped <a href='https://www.sunliftsolar.com' target='_blank'><u>Sun Lift Solar</u></a> get qualified leads in <span class='text-highlight'>24 hours </span>

      p Every startup wants leads pouring in. With Go Time’s help, Sun Lift Solar was able to discover new customers within hours of launching their website. How long did the launch take, you ask? Only two weeks for Go Time to design and build the website in Webflow. Design is no longer this black box that sucks in time and money with unreliable results. Go Time breaks down design tasks into 2-4 day chunks, delivering one after another after another. That’s how things can get done with such unbelievable speed. Go Time launched the website on Friday afternoon and the first leads started coming in that evening. <a href='https://www.sunliftsolar.com' target='_blank' class='text-contrast text-underline'>Check it out for yourself!</a>

    .df.fd-column
      a(href='https://www.sunliftsolar.com' target='_blank')
        img(src='case-study-1.jpg' srcset='case-study-1@2x.jpg 2x' draggable='false')
 

    include /source/components/cta.pug
    include /source/components/footer.pug
