html(lang='en-US')
  meta(http-equiv="refresh" content="0; url='https://calendly.com/gotimehq/meet'")
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  include /source/components/google-analytics.pug
