head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
	link(rel='stylesheet', href='../style.css')

	//- Webfonts
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather:400,400i,900,900i')

	title Phil Smith, UX/UI Designer in Vancouver, BC
