mixin masthead
  .mv4
    a(href='../index.html').no-underline.merriweather
      .f0.fw9 philsmith<span class='gold fw1'>.me</span>
        .dib.normal.gold.fw1(style='margin-left: -0.25em')= pageType
          if attributes.page == 'blog'
            pageType='/thinks'
    small
      a(href='http://dribbble.com/philsmith') Dribbble
      |  / 
      a(href='https://mobile.twitter.com/philsoutside') Twitter
      |  / 
      a(href='https://open.spotify.com/user/philsmith1988?si=-FpCpTqARwKoKyznbmENGA') Spotify
      |  / 
      a(href='http://github.com/pxsmith') Github
      |  / 
      a(href='http://instagram.com/philsoutside') Instagram
      |  / 
      a(href='/linkedin.html')  LinkedUn
