mixin masthead
	a(href='../index.html').no-underline.merriweather
		.pv3.f0.fw9 philsmith<span class='gold fw1'>.me</span>
			.dib.normal.gold.fw1(style='margin-left: -0.25em')= pageType
				if attributes.page == 'blog'
					pageType='/thinks'
