@import '../source/_variables.sass'
// LAYOUTS

.layout-with-sticky-image
  padding: $s3--76
  display: grid
  justify-content: center
  grid-template-columns: 1fr 1fr
  grid-gap: $s2--47
  background: url(/source/images/vector-grid.svg) ($s8 + $s4) $s2 no-repeat

  h1, p
    margin-bottom: $s0

  .layout-visuals.layout-mobile
    display: none
    margin-bottom: $s0--18

  .layout-visuals img
    max-width: 100%

@media (max-width: 950px)
  .layout-with-sticky-image
    padding: $s1
    grid-template-columns: 1fr

    .layout-visuals.layout-mobile
      display: block
    .layout-visuals.layout-desktop
      display: none






// MEDIA
.image-sticky
  position: -webkit-sticky
  position: sticky
  top: $s0--18

.image-with-border
  padding: $s0--18
  background: $dark
  border: 2px solid white
  box-shadow: 11px 11px 0px $dark, 11px 11px 0px 2px white

.link-with-border
  padding: $s0--18
  background: $dark
  border: 2px solid white
  box-shadow: 11px 11px 0px $dark, 11px 11px 0px 2px white
  transition: all 400ms ease-in-out

  &:hover
    border-color: $accent
    box-shadow: -11px 11px 0px $dark, -11px 11px 0px 2px $accent
    transition: all 400ms ease-in-out

// CONTENT
// 2 column responsive

.images-hi-res img
  // 4:3 aspect ratio
  width: 50vw
  height: 37.5vw

@media (max-width: 1000px)
  .images-hi-res img
    // 4:3 aspect ratio
    width: 100vw
    height: 75vw