//- MATHEMATICAL WEB TYPOGRAPHY
//- http://jxnblk.com/writing/posts/mathematical-web-typography/
//- 
//- Golden Ratio Typography Calculator
//- http://www.pearsonified.com/typography/
//- 
//- Managing Typography on Large Apps
//- http://csswizardry.com/2016/02/managing-typography-on-large-apps/
//- 
doctype
include _head
body
  include _masthead
  main.center.max-width.ph3
    +masthead
  
    .f2.merriweather.lh-title.mt5.mb4 If you can design one thing, you can design everything. 
    .f1.merriweather.mb5.tr &mdash;Massimo Vignelli

    p.mb3.lh-copy Hi! 👋 My name’s Phil Smith and I’m a designer. I’ve designed many things, including apps, websites, interfaces, interactions, animations, brands, logos, illustrations, and even <a href='https://www.instagram.com/p/5SSufKmSW0/?taken-by=philsoutside'>a dining room table</a>.

    p.mb3.lh-copy I am always curious, always learning, always striving for excellence. Technologist. Artist. Communicator. Maker. Passionate about human flourishing, beauty, family, the outdoors, the environment, food, drink, music, books.

    p.mb3 Based in 📍 <a href="http://vancouverisawesome.com"> Vancouver, BC

    .merriweather.fw9.mt5.mb1 read posts
  
    a.dib.mb1(href='thinks/resolutions.html') Resolutions

    br

    
    label(for='checkbox-hack'): a.dib.merriweather.fw9.mt5.mb3.pointer say hello 
    //- <input type='checkbox' class='checkbox-hack'>
    input(type='checkbox' class='checkbox-hack' id='checkbox-hack')

    <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrTa6oXprNtNdCMI?backgroundColor=teal" frameborder="0" onmousewheel="" width="100%" height="909" style="background: transparent; border: 1px solid #ccc;"></iframe>

    .mb6.mt6

  script
    include ga.js
