html(lang='en-US')
  head
    include components/head.pug
    include components/meta-tags.pug

  include components/google-analytics.pug

  body.homepage
    .page-wrapper
      include components/nav.pug

      section.hero
        .copy
          h1 High-speed <u>design<br>services</u> for startups
          p.subheader Get exceptional design services extremely fast. See your first designs in under a week. You can either subscribe for continuous service or get design on-demand as you need it. We closely monitor our capacity to maintain speed &amp; quality, so get in touch now!
          a.button(href='https://airtable.com/shr5OfqlF5QetFVKe' target='_blank') Let’s go!

        .visuals
          img.photo-skiier(src="source/images/photo-weightlifter.jpg" draggable='false')
          img.photo-sprinter(src="source/images/photo-sprinter.jpg" draggable='false')
          img.photo-f1(src="source/images/photo-f1.jpg" draggable='false')

      section.design-collage.mt0
        .row.df.jc-center
          img(src='source/images/design-collage-09.png' srcset='source/images/design-collage-09.png 2x' draggable='false')
          img(src='source/images/design-collage-10.png' srcset='source/images/design-collage-10.png 2x' draggable='false')
          img(src='source/images/design-collage-11.png' srcset='source/images/design-collage-11.png 2x' draggable='false')
          img(src='source/images/design-collage-12.png' srcset='source/images/design-collage-12.png 2x' draggable='false')
        .row.df.jc-center
          img(src='source/images/design-collage-01.png' srcset='source/images/design-collage-01.png 2x' draggable='false')
          img(src='source/images/design-collage-02.png' srcset='source/images/design-collage-02.png 2x' draggable='false')
          img(src='source/images/design-collage-03.png' srcset='source/images/design-collage-03.png 2x' draggable='false')
          img(src='source/images/design-collage-04.png' srcset='source/images/design-collage-04.png 2x' draggable='false')
        .row.df.jc-center
          img(src='source/images/design-collage-05.png' srcset='source/images/design-collage-05.png 2x' draggable='false')
          img(src='source/images/design-collage-08.png' srcset='source/images/design-collage-08.png 2x' draggable='false')
          img(src='source/images/design-collage-07.png' srcset='source/images/design-collage-07.png 2x' draggable='false')
          img(src='source/images/design-collage-06.png' srcset='source/images/design-collage-06.png 2x' draggable='false')

      

      h2.tc.mt3 Wall of <span style='color:red'>♡</span>
      section.testimonials
        .quote
          p.quotation-mark &ldquo;
          p.quote-body Go Time is a <u>true partner</u> to EngineIQ. Whether we need to slow down and really nail a tough UX problem or hustle and get something hairy done overnight, you can count on Go Time’s speed &amp; quality.
          a.person(href='https://www.linkedin.com/in/ssshah0624/' target='_blank')
            img.portrait(src='source/images/photo-sunny.jpeg' draggable='false')
            .text
              p.name Sunny Shah
              p.job-title CEO &amp; Co-Founder

        .quote
          p.quotation-mark &ldquo;
          p.quote-body The <u>efficiency & accuracy</u> of Go Time HQ’s work continues to blow me away. Whether it’s designing landing pages, logos, mobile apps, you name it—Go Time <u>handles everything</u>.
          a.person(href='https://www.linkedin.com/in/anebiagbo/' target='_blank')
            img.portrait(src='source/images/photo-anebi.jpeg' draggable='false')
            .text
              p.name Anebi Agbo
              p.job-title Founder & CEO

        .quote
          p.quotation-mark &ldquo;
          p.quote-body Effective collaboration enabled us to <u>develop and iterate rapidly</u>! We initially used the Go Time team for UI/UX, but they also handled our entire rebrand!
          a.person(href='https://www.linkedin.com/in/borislippeveld/' target='_blank')
            img.portrait(src='source/images/photo-boris.jpeg' draggable='false')
            .text
              p.name Boris Lippeveld
              p.job-title CTO &amp; Co-founder

      section.testimonials
        .quote
          p.quotation-mark &ldquo;
          p.quote-body Go Time <u>gets founders</u>. Working with other designers has taken many iterations to get what we needed. I was <u>BLOWN AWAY</u> by how quickly Go Time understood my ideas and delivered great work.
          a.person(href='https://www.linkedin.com/in/emmanuelbamfo/' target='_blank')
            img.portrait(src='source/images/photo-manny.jpeg' draggable='false')
            .text
              p.name Manny Bamfo
              p.job-title Founder

        .quote
          p.quotation-mark &ldquo;
          p.quote-body These designs are <u>SO EXCITING</u>. The team has been so impressed with the quality delivered in the short time frames. Seriously impressive!
          a.person(href='https://www.linkedin.com/in/shivaunanderberg/' target='_blank')
            img.portrait(src='source/images/photo-shivaun.jpeg' draggable='false')
            .text
              p.name Dr. Shivaun Anderberg
              p.job-title Director of Insights and Analytics
      
        .quote
          p.quotation-mark &ldquo;
          p.quote-body Not only do they handle every project with an <u>immense amount of enthusiasm</u>, but Go Time brings a unique perspective to every client and project they work on. <u>You’ll be lucky to work together</u> given the chance.
          a.person(href="https://www.linkedin.com/in/kylerphillips/" target='_blank')
            img.portrait(src='source/images/photo-kyler.jpeg' draggable='false')
            .text
              p.name Kyler Phillips
              p.job-title Senior Designer


      
      include components/how-it-works.pug

      section.services.bt.bb
        h2.header Design <br>services
        .list
          .col
            p.title Branding 
            p Brand identity
            p Logo design
            p Merch
          .col
            p.title Product
            p UX/UI design
            p Prototyping
            p Wireframing
            p Product design
            p iOS & Android
          .col
            p.title Marketing
            p Social media
            p Ads
            p Email
            p Collateral
          .col
            p.title Sales
            p Presentations
            p Demos
          .col
            p.title Fundraising
            p Pitch decks
      


      section.pricing.bb
        .container
          header
            h2.header Simple pricing
            p.subheader We’re passionate about design. We spend minimal <br> time on admin for maximal time designing.
          .prices
            .price
              .title.ai-flex-start
                img.icon(src='source/images/icon-repeat.svg' draggable='false')
                .flex.fd-column
                  h3 Monthly subscription 
                  p ☑ Faster than a full-time designer 
                  p ☑ Cheaper than a full-time designer 
                  p ☑ Dedicated on-shore designer
                  p ☑ Cancel anytime
            hr
            .price
              .title.ai-flex-start
                img.icon(src='source/images/icon-lightning.svg' draggable='false')
                .flex.fd-column
                  h3 On-demand design
                  p ☑ Fast turnaround
                  p ☑ Simple pricing
                  p ☑ Pay-as-you go
                  p ☑ No minimums




      section.selected-work.mb3.mt3 
        h2.tc.mb-2 Selected designs
        p.tc Go Time has helped over 60 startups with all things design.<br>Here’s a small sample of work we can share.

      .images-hi-res

        //- Aterio report
        img(src='source/images/design-hi-res-13.jpg' srcset='source/images/design-hi-res-13@2x.jpg 2x' draggable='false' loading='lazy')

        //- Aterio app
        img(src='source/images/design-hi-res-14.jpg' srcset='source/images/design-hi-res-14@2x.jpg 2x' draggable='false' loading='lazy')

        //- Aterio map
        img(src='source/images/design-hi-res-07.jpg' srcset='source/images/design-hi-res-07@2x.jpg 2x' draggable='false' loading='lazy')

        //- Aterio website
        img(src='source/images/design-hi-res-08.jpg' srcset='source/images/design-hi-res-08@2x.jpg 2x' draggable='false' loading='lazy')



        //- Vacayou destination
        img(src='source/images/design-hi-res-09.jpg' srcset='source/images/design-hi-res-09@2x.jpg 2x' draggable='false' loading='lazy')

        //- Vacayou app
        img(src='source/images/design-hi-res-10.jpg' srcset='source/images/design-hi-res-10@2x.jpg 2x' draggable='false' loading='lazy')

        //- Vacayou lightbox
        img(src='source/images/design-hi-res-11.jpg' srcset='source/images/design-hi-res-11@2x.jpg 2x' draggable='false' loading='lazy')

        //- Vacayou checkout
        img(src='source/images/design-hi-res-12.jpg' srcset='source/images/design-hi-res-12@2x.jpg 2x' draggable='false' loading='lazy')

        include components/cta.pug

        //- Farms 2 Friends market
        img(src='source/images/design-hi-res-05.jpg' srcset='source/images/design-hi-res-05@2x.jpg 2x' draggable='false' loading='lazy')

        //- Farms 2 Friends products
        img(src='source/images/design-hi-res-06.jpg' srcset='source/images/design-hi-res-06@2x.jpg 2x' draggable='false' loading='lazy')

        //- Farms 2 Friends onboarding
        img(src='source/images/design-hi-res-15.jpg' srcset='source/images/design-hi-res-15@2x.jpg 2x' draggable='false' loading='lazy')

        //- Farms 2 Friends checkout
        img(src='source/images/design-hi-res-16.jpg' srcset='source/images/design-hi-res-16@2x.jpg 2x' draggable='false' loading='lazy')



        //- XtraMath website
        img(src='source/images/design-hi-res-18.jpg' srcset='source/images/design-hi-res-18@2x.jpg 2x' draggable='false' loading='lazy')

        //- Hiji mobile
        img(src='source/images/design-hi-res-01.jpg' srcset='source/images/design-hi-res-01@2x.jpg 2x' draggable='false' loading='lazy')

        //- Emplifi logo
        img(src='source/images/design-hi-res-02.jpg' srcset='source/images/design-hi-res-02@2x.jpg 2x' draggable='false' loading='lazy')

        //- Riskline microsite
        img(src='source/images/design-hi-res-03.jpg' srcset='source/images/design-hi-res-03@2x.jpg 2x' draggable='false' loading='lazy')

        //- Umani logo
        img(src='source/images/design-hi-res-17.jpg' srcset='source/images/design-hi-res-17@2x.jpg 2x' draggable='false' loading='lazy')

        //- Umani shirt
        img(src='source/images/design-hi-res-04.jpg' srcset='source/images/design-hi-res-04@2x.jpg 2x' draggable='false' loading='lazy')

      include components/cta.pug
      include components/footer.pug