html(lang='en-US')
  head
    include components/head.pug
    include components/meta-tags.pug

  include components/google-analytics.pug

  body.homepage
    .page-wrapper
      include components/nav.pug

      section.hero
        .copy
          h1.header Get elite product design in <span class='text-strike'>months&nbsp;</span>&nbsp;<span class='text-highlight'> moments. </span>

          //- h1.header Look no further, here’s your new<span class='text-highlight'> design partner.</span>

          //- h1.header Get your team elite design in <span class='text-strike'>months </span><span class='text-highlight'>hours.</span>

          p.subheader Why spend months and burn a bunch of cash interviewing, hiring and onboarding a full-time product designer? Get started with Go Time today with zero commitment. Designs delivered every 2-4 days for a flat, monthly fee
          a.button(href='https://calendly.com/gotimehq/meet' target='_blank') Book a Call
          p.button-afterword 7-day money-back guarantee
          //- h5.text-extra-subtle.mt2.mb0 Trusted By

        .visuals
          img.photo-hero-1(src="source/images/photo-hero-motorcycle.jpg" draggable='false')
          img.photo-hero-2(src="source/images/photo-hero-rocket.jpg" draggable='false')
          img.photo-hero-3(src="source/images/photo-hero-f1.jpg" draggable='false')



      section.design-collage
        h5.tc.text-extra-subtle.mb0 Work Samples
        .row.df.jc-center.animate__animated.animate__fadeIn
          img(src='source/images/design-collage-11.png' srcset='source/images/design-collage-11.png 2x' draggable='false')
          img(src='source/images/design-collage-10.png' srcset='source/images/design-collage-10.png 2x' draggable='false')
          img(src='source/images/design-collage-12.png' srcset='source/images/design-collage-12.png 2x' draggable='false')
          img(src='source/images/design-collage-09.png' srcset='source/images/design-collage-09.png 2x' draggable='false')
          img(src='source/images/design-collage-02.png' srcset='source/images/design-collage-02.png 2x' draggable='false')
          img(src='source/images/design-collage-01.png' srcset='source/images/design-collage-01.png 2x' draggable='false')
        .row.df.jc-center.animate__animated.animate__fadeIn
          img(src='source/images/design-collage-06.png' srcset='source/images/design-collage-06.png 2x' draggable='false')
          img(src='source/images/design-collage-03.png' srcset='source/images/design-collage-03.png 2x' draggable='false')
          img(src='source/images/design-collage-04.png' srcset='source/images/design-collage-04.png 2x' draggable='false')
          img(src='source/images/design-collage-05.png' srcset='source/images/design-collage-05.png 2x' draggable='false')
          img(src='source/images/design-collage-08.png' srcset='source/images/design-collage-08.png 2x' draggable='false')
          img(src='source/images/design-collage-07.png' srcset='source/images/design-collage-07.png 2x' draggable='false')



      section.value-props-section
        .header-group
          .super-header Look no further,
          .header You found your new design partner.
        .value-props 
          .value-prop.animate__animated.animate__fadeIn
            img.icon(src='source/images/icon-money-shield.svg' draggable='false')
            .value-prop-header Layoff-proof 
            .value-prop-subheader More design output, no more headcount 
            .value-prop-body Get the extra product design or marketing resources you need without the extra headcount. Sleep easy knowing there’s one less potential layoff. Flexibility is the foundation of our business, so when you’re subscribed, you can pause or cancel at anytime. 

          .value-prop.animate__animated.animate__fadeIn
            img.icon(src='source/images/icon-stopwatch.svg' draggable='false')
            .value-prop-header Absurdly fast
            .value-prop-subheader See designs delivered in 2-4 days
            .value-prop-body Gone are the days shelling out $10,000s or $100,000s to old-fashioned design agencies. The designs are shiny, but they’re too slow for startups. With our agile design process, you see designs in 2-4 days. This allows us to course-correct as fast as humanly possible.

          .value-prop.box
            img.icon(src='source/images/icon-map-pin.svg' draggable='false')
            .value-prop-header One-stop shop
            .value-prop-subheader All of your creative needs met 
            .value-prop-body You’ve heard, “Jack of all trades is a master of none,” but did you know it’s actually a compliment? It finishes “…but oftentimes better than a master of one.” To move fast you need designers that can masterfully create in many ways. Whether you need UX/UI design, brand identity, or marketing material, we’ve got you covered. 

          .value-prop
            img.icon(src='source/images/icon-handshake.svg' draggable='false')
            .value-prop-header Long-term partner
            .value-prop-subheader You winning is us winning
            .value-prop-body We are in this for the long haul. Because we prefer a few amazing clients over the many, you’re getting consistently exceptional service. That’s why we carefully monitor our capacity. Flexibility is built into our subscription model, but we’d love to have you around for longer.

          .value-prop
            img.icon(src='source/images/icon-chat-messages.svg' draggable='false')
            .value-prop-header Never ghosted
            .value-prop-subheader Prompt, crisp communication
            .value-prop-body Creative-types can be flighty. Have you ever been ghosted by one? It’s never going to happen here. During business hours we reply promptly. Sometimes answers require some deep thinking, but we’ll still let you know we’re on it. 

          .value-prop
            img.icon(src='source/images/icon-crown.svg' draggable='false')
            .value-prop-header Always efficient
            .value-prop-subheader Pure, distilled design process
            .value-prop-body Let’s face it, hourly billing is a bad incentive. No one wants a mere clock-puncher. We’ve thrown the time clock in the garbage to focus on design. This means our pricing is simple. We’re async by default and meet when its truly important.  You’re getting the most bang for your buck.



      section.the-plan-section
        .header-group
          .super-header See designs in under a week
          .header Your fast track to great design.

        .the-plan-steps
          .the-plan-step
            .the-plan-number 1
            .the-plan-header Subscribe
            .the-plan-body Day 0 is as simple as any other subscription. Finding the right designer doesn’t take months anymore &ndash; it takes minutes.

          .the-plan-step
            .the-plan-number 2
            .the-plan-header Kickoff
            .the-plan-body Day 1 we’ll get on a call and kick off your first project. We’ll get you set up with Slack for comms and Airtable for project management.

          .the-plan-step
            .the-plan-number 3
            .the-plan-header Repeat
            .the-plan-body Day 4 we’ll look at your glorious new designs in Figma. Leave comments for revisions or kick off your next project. 





      include components/cta


      section.social-proof-section
        .header-group
          .super-header The ♡ we get
          .header Join 70+ happy clients
        .social-proof
          .quote
            p.quotation-mark &ldquo;
            p.quote-body Go Time is a <u>true partner</u> to EngineIQ. Whether we need to slow down and really nail a tough UX problem or hustle and get something hairy done overnight, you can count on Go Time’s speed &amp; quality.
            a.person(href='https://www.linkedin.com/in/ssshah0624/' target='_blank')
              img.portrait(src='source/images/photo-bio-sunny.jpeg' draggable='false')
              .text
                p.name Sunny Shah
                p.job-title CEO &amp; Co-Founder

          .quote
            p.quotation-mark &ldquo;
            p.quote-body The <u>efficiency & accuracy</u> of Go Time HQ’s work continues to blow me away. Whether it’s designing landing pages, logos, mobile apps, you name it—Go Time <u>handles everything</u>.
            a.person(href='https://www.linkedin.com/in/anebiagbo/' target='_blank')
              img.portrait(src='source/images/photo-bio-anebi.jpeg' draggable='false')
              .text
                p.name Anebi Agbo
                p.job-title Founder & CEO

          .quote
            p.quotation-mark &ldquo;
            p.quote-body Effective collaboration enabled us to <u>develop and iterate rapidly</u>! We initially used the Go Time team for UI/UX, but they also handled our entire rebrand!
            a.person(href='https://www.linkedin.com/in/borislippeveld/' target='_blank')
              img.portrait(src='source/images/photo-bio-boris.jpeg' draggable='false')
              .text
                p.name Boris Lippeveld
                p.job-title CTO &amp; Co-founder

          .quote
            p.quotation-mark &ldquo;
            p.quote-body Go Time <u>gets founders</u>. Working with other designers has taken many iterations to get what we needed. I was <u>BLOWN AWAY</u> by how quickly Go Time understood my ideas and delivered great work.
            a.person(href='https://www.linkedin.com/in/emmanuelbamfo/' target='_blank')
              img.portrait(src='source/images/photo-bio-manny.jpeg' draggable='false')
              .text
                p.name Manny Bamfo
                p.job-title Founder

          .quote
            p.quotation-mark &ldquo;
            p.quote-body These designs are <u>SO EXCITING</u>. The team has been so impressed with the quality delivered in the short time frames. Seriously impressive!
            a.person(href='https://www.linkedin.com/in/shivaunanderberg/' target='_blank')
              img.portrait(src='source/images/photo-bio-shivaun.jpeg' draggable='false')
              .text
                p.name Dr. Shivaun Anderberg
                p.job-title Director of Insights and Analytics
        
          .quote
            p.quotation-mark &ldquo;
            p.quote-body Not only do they handle every project with an <u>immense amount of enthusiasm</u>, but Go Time brings a unique perspective to every client and project they work on. <u>You’ll be lucky to work together</u> given the chance.
            a.person(href="https://www.linkedin.com/in/kylerphillips/" target='_blank')
              img.portrait(src='source/images/photo-bio-kyler.jpeg' draggable='false')
              .text
                p.name Kyler Phillips
                p.job-title Senior Designer




      section.case-studies-section 
        .header-group
          .super-header Case studies
          .header Amazing outcomes

        .case-studies
          
          a(href='/case-studies/fractional-product-design').case-study.link-with-border
            .case-study-thumbnail
              img(src='/case-studies/fractional-product-design/case-study-1.jpg' srcset='/case-studies/fractional-product-design/case-study-1.jpg 2x' draggable='false' loading='lazy')
            .case-study-header Did 9 months of work in 4 months
            .case-study-body Product design • microsites • marketing • web &amp; mobile app

          a(href='/case-studies/mvp-in-7-days').case-study.link-with-border
            .case-study-thumbnail
              img(src='/case-studies/mvp-in-7-days/case-study-1.jpg' srcset='/case-studies/mvp-in-7-days/case-study-1@2x.jpg 2x' draggable='false' loading='lazy')
            .case-study-header Started building an MVP in 7 days
            .case-study-body Product design • branding • web &amp; mobile app • creative direction

          a(href='/case-studies/leads-in-24-hours').case-study.link-with-border
            .case-study-thumbnail
              img(src='/case-studies/leads-in-24-hours/case-study-1.jpg' srcset='/case-studies/leads-in-24-hours/case-study-1@2x.jpg 2x' draggable='false' loading='lazy')
            .case-study-header Started getting leads in 24 hours
            .case-study-body Website design • Webflow build • branding • creative direction








      section.services-section
        .header-group
          .super-header At your service
          .header How might your team benefit?

        .services
          .service
            img.icon(src='source/images/icon-launch.svg' draggable='false')
            .service-header Branding &amp; <br>Website Launch
            .service-time Average length: 2-3 months
            .service-list-item Brand identity workshop
            .service-list-item Creative direction
            .service-list-item Brand identity guidelines
            .service-list-item Website design
            .service-list-item Webflow build

          .service
            img.icon(src='source/images/icon-mountaintop.svg' draggable='false')
            .service-header Minimal Viable <br>Product Design
            .service-time Average length: 3-4 months
            .service-list-item User research
            .service-list-item Wireframes
            .service-list-item UI design
            .service-list-item High-fidelity prototypes
            .service-list-item Design system

          .service
            img.icon(src='source/images/icon-ui-design-system.svg' draggable='false')
            .service-header Product Design <br>Team Support
            .service-time Average length: 12+ months
            .service-list-item Extra design resources
            .service-list-item UI/UX design
            .service-list-item Clickable prototypes
            .service-list-item Design system support












      //- section.projects-section 
        .header-group
          .super-header Samples we can share
          .header Craftsmanship we’re proud of

        .projects
          
          a(href='#').project.link-with-border
            .project-thumbnail
              img(src='source/images/design-hi-res-05.jpg' srcset='source/images/design-hi-res-05@2x.jpg 2x' draggable='false' loading='lazy')
            .project-header Farmers’ marketplace
            .project-body DTC • E-commerce • brand identity • web &amp; mobile app • MVP design • creative direction

          a(href='#').project.link-with-border
            .project-thumbnail
              img(src='source/images/design-hi-res-10.jpg' srcset='source/images/design-hi-res-10@2x.jpg 2x' draggable='false' loading='lazy')
            .project-header Vacation booking
            .project-body Web app • 

          a(href='#').project.link-with-border
            .project-thumbnail
              //- img(src='source/images/design-hi-res-10.jpg' srcset='source/images/design-hi-res-10@2x.jpg 2x' draggable='false' loading='lazy')
            .project-header Real estate scoring
            .project-body service

          a(href='#').project.link-with-border
            .project-thumbnail
              //- img(src='source/images/design-hi-res-10.jpg' srcset='source/images/design-hi-res-10@2x.jpg 2x' draggable='false' loading='lazy')
            .project-header Auto repair shop
            .project-body service 










      section.faq-section
        .header-group
          .super-header You’re wondering…
          .header FAQs

        .faqs
          .faq-wrapper
            .faq 
              input(type='checkbox')#faq-1
              label(for='faq-1').faq-question 
                .faq-question-text How much does it cost?
                .faq-question-icon
              .faq-answer
                p When you’re ready for a full-power Design Subscription it costs a flat rate of $8,000 per month. Considering the median total compensation for product designers is $151,980, after health insurance, benefits, and taxes that’s $16,781 per month. With Go Time you’re saving a lot of moolah. 
                p We also offer Design On-Demand. This is how even the most cash-strapped startups can access great design. Don’t hesitate to reach out! If it’s a good fit, we’re going to find a way to work together, even if it means paring down the scope (but NEVER paring down the quality!).

          .faq-wrapper
            .faq 
              input(type='checkbox')#faq-2
              label(for='faq-2').faq-question 
                .faq-question-text How many hours do I get?
                .faq-question-icon
              .faq-answer
                p We know you’re used to thinking in hours. But worrying about billable hours creates organizational deadweight. Instead, think of results. When you’re subscribed you’re getting designs delivered in 2-4 days. When you’re getting design on-demand, you’re experiencing similar speed and the same quality.

          .faq-wrapper
            .faq 
              input(type='checkbox')#faq-3
              label(for='faq-3').faq-question 
                .faq-question-text How many designs will I get?
                .faq-question-icon
              .faq-answer
                p Well, it depends. There are a lot of variables that come into play. One of the biggest is how long it takes to gather feedback on the designs. Very decisive teams move very quickly. More contemplative teams can to longer. Everyone moves at their own pace, and that’s quite alright!

          .faq-wrapper
            .faq 
              input(type='checkbox')#faq-4
              label(for='faq-4').faq-question 
                .faq-question-text How many designers will I be working with?
                .faq-question-icon
              .faq-answer
                p One. At Go Time you’re not getting design work outsourced. You get a dedicated, hands on designer working with your team. That same person is also going to be your go-to person for communication and updates.

          .faq-wrapper
            .faq 
              input(type='checkbox')#faq-6
              label(for='faq-6').faq-question 
                .faq-question-text Do you outsource?
                .faq-question-icon
              .faq-answer
                p No. Go Time is founded in the USA and all of its designers are based there too. A lot of similar looking design studios will outsource overseas to save some money. With Go Time you’re getting access to world-class, onshore talent.

          .faq-wrapper
            .faq 
              input(type='checkbox')#faq-5
              label(for='faq-5').faq-question 
                .faq-question-text Do you use AI?
                .faq-question-icon
              .faq-answer
                p Sometimes! We’re extremely excited about using AI to supercharge our creative process. For example, sometimes we’ll use Midjourney to generate images. From what we’ve seen, AI isn’t taking our jobs as designers anytime soon.






      section.selected-work.mb3.mt3 
        h2.tc.mb-2 Select designs
        p.tc Go Time has helped over 70 startups with all things design. Here’s a small sample of work we can share.

      .images-hi-res

        //- Farms 2 Friends onboarding
        img(src='source/images/design-hi-res-15.jpg' srcset='source/images/design-hi-res-15@2x.jpg 2x' draggable='false' loading='lazy')

        //- Farms 2 Friends checkout
        img(src='source/images/design-hi-res-16.jpg' srcset='source/images/design-hi-res-16@2x.jpg 2x' draggable='false' loading='lazy')

        //- Farms 2 Friends market
        img(src='source/images/design-hi-res-05.jpg' srcset='source/images/design-hi-res-05@2x.jpg 2x' draggable='false' loading='lazy')

        //- Farms 2 Friends products
        img(src='source/images/design-hi-res-06.jpg' srcset='source/images/design-hi-res-06@2x.jpg 2x' draggable='false' loading='lazy')



        //- Vacayou destination
        img(src='source/images/design-hi-res-09.jpg' srcset='source/images/design-hi-res-09@2x.jpg 2x' draggable='false' loading='lazy')

        //- Vacayou app
        img(src='source/images/design-hi-res-10.jpg' srcset='source/images/design-hi-res-10@2x.jpg 2x' draggable='false' loading='lazy')

        //- Vacayou lightbox
        img(src='source/images/design-hi-res-11.jpg' srcset='source/images/design-hi-res-11@2x.jpg 2x' draggable='false' loading='lazy')

        //- Vacayou checkout
        img(src='source/images/design-hi-res-12.jpg' srcset='source/images/design-hi-res-12@2x.jpg 2x' draggable='false' loading='lazy')



        //- Aterio report
        img(src='source/images/design-hi-res-13.jpg' srcset='source/images/design-hi-res-13@2x.jpg 2x' draggable='false' loading='lazy')

        //- Aterio app
        img(src='source/images/design-hi-res-14.jpg' srcset='source/images/design-hi-res-14@2x.jpg 2x' draggable='false' loading='lazy')

        //- Aterio map
        img(src='source/images/design-hi-res-07.jpg' srcset='source/images/design-hi-res-07@2x.jpg 2x' draggable='false' loading='lazy')

        //- Aterio website
        img(src='source/images/design-hi-res-08.jpg' srcset='source/images/design-hi-res-08@2x.jpg 2x' draggable='false' loading='lazy')



        //- XtraMath website
        img(src='source/images/design-hi-res-18.jpg' srcset='source/images/design-hi-res-18@2x.jpg 2x' draggable='false' loading='lazy')

        //- Hiji mobile
        img(src='source/images/design-hi-res-01.jpg' srcset='source/images/design-hi-res-01@2x.jpg 2x' draggable='false' loading='lazy')

        //- Emplifi logo
        img(src='source/images/design-hi-res-02.jpg' srcset='source/images/design-hi-res-02@2x.jpg 2x' draggable='false' loading='lazy')

        //- Riskline microsite
        img(src='source/images/design-hi-res-03.jpg' srcset='source/images/design-hi-res-03@2x.jpg 2x' draggable='false' loading='lazy')

        //- Umani logo
        img(src='source/images/design-hi-res-17.jpg' srcset='source/images/design-hi-res-17@2x.jpg 2x' draggable='false' loading='lazy')

        //- Umani shirt
        img(src='source/images/design-hi-res-04.jpg' srcset='source/images/design-hi-res-04@2x.jpg 2x' draggable='false' loading='lazy')

      include components/cta.pug
      include components/footer.pug

    //- script(src=/source/script.js)