//- MATHEMATICAL WEB TYPOGRAPHY
//- http://jxnblk.com/writing/posts/mathematical-web-typography/
//- 
//- Golden Ratio Typography Calculator
//- http://www.pearsonified.com/typography/
//- 
//- Managing Typography on Large Apps
//- http://csswizardry.com/2016/02/managing-typography-on-large-apps/
//- 
doctype
html
head
  include _html-head
  title pxsmith
  include _masthead
  
body
  main.center.max-width.ph3
    +masthead

    p.mb3 Hello! 👋 I&rsquo;m happy you&rsquo;ve made your way here. My name is Phil Smith. I&rsquo;m a product designer in <a href='http://vancouverisawesome.com'>Vancouver, BC</a> working for <a href='http://acl.com'>ACL</a>. I have experience branding, designing mobile and web apps, building prototypes, illustrating, and animating. I love good company, food, beer, music, and the great outdoors. If you want to chat about a side project (or anything else for that matter), let&rsquo;s grab a drink! 🍻 <a(href='https://twitter.com/philsmithdesign'>DM me on Twitter</a>.

    p.mb3 Cheers,
    p.mb3 Phil 

    .merriweather.fw9.mt4 recent posts
    a.dib.f1.mb3(href='thinks/resolutions.html') Resolutions

  script
    include ga.js
