head
  include components/head.pug

  // Primary Meta Tags
  title Go faster with a design subscription
  meta(name='title' content='Go faster with a design subscription')
  meta(name='description' content='Go faster with a design subscription. Simple pricing for world-class, continuous design services. Let us know what you need and you’ll see designs in 2-4 days.')
  // Open Graph / Facebook
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://gotimehq.com/')
  meta(property='og:title' content='Go faster with a design subscription')
  meta(property='og:description' content='Go faster with a design subscription. Simple pricing for world-class, continuous design services. Let us know what you need and you’ll see designs in 2-4 days.')
  meta(property='og:image' content='https://gotimehq.com/source/images/social-preview.jpg')
  // Twitter
  meta(property='twitter:card' content='summary_large_image')
  meta(property='twitter:url' content='https://gotimehq.com/')
  meta(property='twitter:title' content='Go faster with a design subscription')
  meta(property='twitter:description' content='Go faster with a design subscription. Simple pricing for world-class, continuous design services. Let us know what you need and you’ll see designs in 2-4 days.')
  meta(property='twitter:image' content='https://gotimehq.com/source/images/social-preview.jpg')

include components/google-analytics.pug

body.homepage
  .page-wrapper
    include components/nav.pug

    section.hero
      .copy
        h1 World-class design, <br><u>extremely fast</u>
        //- h2.header Great design, <u>fast</u>
        p.subheader Get continuous design services for a flat monthly fee. You’ll see designs in 2-4 days and you can cancel anytime.
        a.button(href='https://calendly.com/gotimehq/meet' target='_blank') Let’s go!
        //- h2.header.text-outline.mt3 Recent Work

      .visuals
        img.photo-skiier(src="source/images/photo-weightlifter.jpg" draggable='false')
        img.photo-sprinter(src="source/images/photo-sprinter.jpg" draggable='false')
        img.photo-f1(src="source/images/photo-f1.jpg" draggable='false')


    section.design-collage.mt0
      //- h2.header.text-outline.mt0.tc Recent Work
      .row.df.jc-center
        img(src='source/images/design-collage-09.png' srcset='source/images/design-collage-09.png 2x' draggable='false')
        img(src='source/images/design-collage-10.png' srcset='source/images/design-collage-10.png 2x' draggable='false')
        img(src='source/images/design-collage-11.png' srcset='source/images/design-collage-11.png 2x' draggable='false')
        img(src='source/images/design-collage-12.png' srcset='source/images/design-collage-12.png 2x' draggable='false')
      .row.df.jc-center
        img(src='source/images/design-collage-01.png' srcset='source/images/design-collage-01.png 2x' draggable='false')
        img(src='source/images/design-collage-02.png' srcset='source/images/design-collage-02.png 2x' draggable='false')
        img(src='source/images/design-collage-03.png' srcset='source/images/design-collage-03.png 2x' draggable='false')
        img(src='source/images/design-collage-04.png' srcset='source/images/design-collage-04.png 2x' draggable='false')
      .row.df.jc-center
        img(src='source/images/design-collage-05.png' srcset='source/images/design-collage-05.png 2x' draggable='false')
        img(src='source/images/design-collage-08.png' srcset='source/images/design-collage-08.png 2x' draggable='false')
        img(src='source/images/design-collage-07.png' srcset='source/images/design-collage-07.png 2x' draggable='false')
        img(src='source/images/design-collage-06.png' srcset='source/images/design-collage-06.png 2x' draggable='false')

    

    section.testimonials
      .quote
        p.quotation-mark &ldquo;
        p.quote-body Go Time is a <u>true partner</u> to EngineIQ. Whether we need to slow down and really nail a tough UX problem or hustle and get something hairy done overnight, you can count on Go Time’s speed &amp; quality.
        a.person(href='https://www.linkedin.com/in/ssshah0624/' target='_blank')
          img.portrait(src='source/images/photo-sunny.jpeg' draggable='false')
          .text
            p.name Sunny Shah
            p.job-title CEO &amp; Co-Founder

      .quote
        p.quotation-mark &ldquo;
        p.quote-body The <u>efficiency & accuracy</u> of Go Time HQ’s work continues to blow me away. Whether it’s designing landing pages, logos, mobile apps, you name it—Go Time <u>handles everything</u>.
        a.person(href='https://www.linkedin.com/in/anebiagbo/' target='_blank')
          img.portrait(src='source/images/photo-anebi.jpeg' draggable='false')
          .text
            p.name Anebi Agbo
            p.job-title Founder & CEO

      .quote
        p.quotation-mark &ldquo;
        p.quote-body Effective collaboration enabled us to <u>develop and iterate rapidly</u>! We initially used the Go Time HQ team for UI/UX, but they also handled our entire rebrand!
        a.person(href='https://www.linkedin.com/in/borislippeveld/' target='_blank')
          img.portrait(src='source/images/photo-boris.jpeg' draggable='false')
          .text
            p.name Boris Lippeveld
            p.job-title CTO &amp; Co-founder


    section.testimonials
      .quote
        p.quotation-mark &ldquo;
        p.quote-body These designs are <u>SO EXCITING</u>. The team has been so impressed with the quality delivered in the short time frames. Seriously impressive!
        a.person(href='https://www.linkedin.com/in/shivaunanderberg/' target='_blank')
          img.portrait(src='source/images/photo-shivaun.jpeg' draggable='false')
          .text
            p.name Dr. Shivaun Anderberg
            p.job-title Director of Insights and Analytics
    
      .quote
        p.quotation-mark &ldquo;
        p.quote-body Not only do they handle every project with an <u>immense amount of enthusiasm</u>, but Go Time HQ brings a unique perspective to every client and project they work on. <u>You’ll be lucky to work together</u> given the chance.
        a.person(href="https://www.linkedin.com/in/kylerphillips/" target='_blank')
          img.portrait(src='source/images/photo-kyler.jpeg' draggable='false')
          .text
            p.name Kyler Phillips
            p.job-title Senior Designer


    
    include components/how-it-works.pug

    section.services.bt.bb
      h2.header Design <br>services
      .list
        .col
          p.title Branding 
          p Brand identity
          p Logo design
          p Merch
        .col
          p.title Product
          p UI design
          p Prototyping
          p Wireframing
          p Product design
          p iOS & Android
        .col
          p.title Marketing
          p Social media
          p Ads
          p Email
          p Collateral
        .col
          p.title Sales
          p Presentations
          p Demos
        .col
          p.title Fundraising
          p Pitch decks
    


    section.pricing.bb
      .container
        header
          h2.header Simple pricing
          p.subheader We’re passionate about design. We spend minimal <br> time on admin for maximal time designing.
        .prices
          .price
            .title.ai-flex-start
              img.icon(src='source/images/icon-delivery.svg' draggable='false')
              .flex.fd-column
                h3 Monthly subscription 
                h3.price-amount $8k/month
                p ☑ Turnaround in 2-4 business days 
                p ☑ Continuous design
                p ☑ Cancel anytime
          hr
          .price
            .title.ai-flex-start
              img.icon(src='source/images/icon-calendar.svg' draggable='false')
              .flex.fd-column
                h3 Quarterly subscription 
                h3.price-amount $20k/quarter
                p ☑ Turnaround in 2-4 business days 
                p ☑ Continuous design
                p ☑ Guaranteed availability
                p ☑ Discounted rate
        footer
          h4.header $trapped for ca$h?
          p.subheader We’re dedicated to helping early-stage founders take the first steps in their journey. <u><a href='https://airtable.com/shr5OfqlF5QetFVKe' target="_blank">Ask about our special 0-to-1 pricing</a></u>.
    

    //- .divider.divider-services
    //-   img(src="source/images/vector-arrows.svg")




    section.recent-work.mb3
      .header.br
        h3 Case Studies
        p We’ve served over 40 happy startups. Here’s a small sample we can share.

      a(href='/work-impact.html' draggable='false').thumbnail.thumbnail-impact
        img.thumbnail-img(src="source/images/work-thumbnail-impact.png" srcset="source/images/work-thumbnail-impact@2x.png 2x" draggable='false')
        p.pl0.pr0.tc Read more →

      a(href='/work-wilbur.html' draggable='false').thumbnail.thumbnail-wilbur
        img.thumbnail-img(src="source/images/work-thumbnail-wilbur.png" srcset="source/images/work-thumbnail-wilbur@2x.png 2x" draggable='false')
        p.pl0.pr0.tc Read more →

      a(href='/work-risk.html' draggable='false').thumbnail.thumbnail-risk
        img.thumbnail-img(src="source/images/work-thumbnail-risk.png" srcset="source/images/work-thumbnail-risk@2x.png 2x" draggable='false')
        p.pl0.pr0.tc Read more →

    //- .recent-work-background

    //- include components/cta.pug
    include components/footer.pug

    
