//- MATHEMATICAL WEB TYPOGRAPHY
//- http://jxnblk.com/writing/posts/mathematical-web-typography/
//- 
//- Golden Ratio Typography Calculator
//- http://www.pearsonified.com/typography/
//- 
//- Managing Typography on Large Apps
//- http://csswizardry.com/2016/02/managing-typography-on-large-apps/
//- 
doctype
include _head
body
  include _masthead
  main.center.max-width.ph3
    +masthead
  
    .f2.merriweather.lh-title.mt5.mb4 If you can design one thing, you can design everything. 
    .f1.merriweather.mb5.tr &mdash;Massimo Vignelli

    p.mb3.lh-copy Phil Smith is a designer. He has designed apps, websites, interfaces, interactions, animations, brands, logos, illustrations, and <a href='https://www.instagram.com/p/5SSufKmSW0/?taken-by=philsoutside'>a dining room table</a>.

    p.mb3.lh-copy Always curious, always learning, striving for excellence. Technologist. Artist. Communicator. Maker. Passionate about human flourishing, beauty, family, the outdoors, the environment, food, drink, music, books. Rarely talks in the third person.

    p.mb3 Located in 📍 <a href="http://vancouverisawesome.com"> Vancouver, BC

    .merriweather.fw9.mt5.mb1 recent posts
    
    a.dib.mb5(href='thinks/resolutions.html') Resolutions

  script
    include ga.js
