head
  link(rel="stylesheet" type="text/css" href="source/webfonts-min.css" preload)
  link(rel='stylesheet' href='css/style.css' preload)
  //- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' preload)
  //- link(rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  // Primary Meta Tags
  // https://metatags.io
  title Go fast with a design subscription
  meta(name='title', content='Go fast with a design subscription')
  meta(name='description', content='Simple pricing for continuous design services. You can throw most design projects at us and you’ll see results in 2-4 days. Join 40+ startups.')
  //  Open Graph / Facebook 
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://gotimehq.com/')
  meta(property='og:title', content='Go fast with a design subscription')
  meta(property='og:description', content='Simple pricing for continuous design services. You can throw most design projects at us and you’ll see results in 2-4 days. Join 40+ startups.')
  meta(property='og:image', content='/source/images/social-preview.png')
  //  Twitter 
  meta(property='twitter:card', content='summary_large_image')
  meta(property='twitter:url', content='https://gotimehq.com/')
  meta(property='twitter:title', content='Go fast with a design subscription')
  meta(property='twitter:description', content='Simple pricing for continuous design services. You can throw most design projects at us and you’ll see results in 2-4 days. Join 40+ startups.')
  meta(property='twitter:image', content='/source/images/social-preview.png')

  //- https://favicon.io
  link(rel="apple-touch-icon" sizes="180x180" href="source/favicon/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="source/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="source/favicon/favicon-16x16.png")
  link(rel="manifest" href="source/favicon/site.webmanifest")
  
  //- Drift integration
  script(src="/source/drift-snippet.js" type="text/javascript" async)

body
  .navbar
    a(href='https://gotimehq.com').logo
      img(src="source/images/logomark--white.svg")
    .scroller
      img(src="source/images/vector-arrows.svg")
    a.link(data-tooltip="Coming soon") Work
    a.link(data-tooltip="Coming soon") Ideas
    a.cta(href='https://calendly.com/gotimehq/meet' target='_blank') Let’s go!
  .hero
    .copy
      h1.header Go fast with a #[br] design subscription 
      p.subheader Simple pricing for continuous design services. You can throw most design projects at us and you’ll see results in 2-4 days. Join 40+ startups.
      a.button Let&rsquo;s go!
    .visuals
      img.photo-dirt-bikes(src="source/images/photo-dirt-bikes.jpg")
      img.photo-sprinter(src="source/images/photo-sprinter.jpg")
      img.photo-f1(src="source/images/photo-f1.jpg")
  //- .how-it-works
  //-   h1.header How it works
      
  script(data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer)
