head
  link(rel="stylesheet" type="text/css" href="source/webfonts-min.css" preload)
  link(rel='stylesheet' href='css/style.css' preload)
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' preload)
  //- link(rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")



  // Primary Meta Tags
  // https://metatags.io

  title 🏎 Go Time HQ | design subscription
  meta(name='title' content='Go fast with a design subscription')
  meta(name='description' content='Unblock your team this week. Get continuous design services for a flat-rate subscription. Join over 40 startups.')
  // Open Graph / Facebook
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://philsmith.me/')
  meta(property='og:title' content='Go fast with a design subscription')
  meta(property='og:description' content='Unblock your team this week. Get continuous design services for a flat-rate subscription. Join over 40 startups.')
  meta(property='og:image' content='/assets/social-preview.png')
  // Twitter
  meta(property='twitter:card' content='assets/social-preview.png')
  meta(property='twitter:url' content='https://philsmith.me/')
  meta(property='twitter:title' content='Go fast with a design subscription')
  meta(property='twitter:description' content='Unblock your team this week. Get continuous design services for a flat-rate subscription. Join over 40 startups.')
  meta(property='twitter:image' content='assets/social-preview.png')

  link(rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png")
  link(rel="manifest" href="images/site.webmanifest")


  
  //- https://favicon.io
  
  link(rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")
  link(rel="manifest" href="assets/site.webmanifest")
  
  //- Drift integration
  
  //- script(src="/source/drift-snippet.js" type="text/javascript" async)

body
  .navbar
    a(href='https://gotimehq.com').logo
      img(src="source/images/logomark--white.svg")
    .scroller
      img(src="source/images/arrows.svg")
    a.link(data-tooltip="Coming soon") Work
    a.link(data-tooltip="Coming soon") Ideas
    a.cta(href='https://calendly.com/gotimehq/meet' target='_blank') Let’s go!
  .hero
    h1.header Go fast with a design subscription 
    p.subheader Simple pricing for continuous design services. You can throw most design projects at us and you’ll see results in 2-4 days. Join 40+ startups.
    a.button(data-tooltip="I am a tooltip") Let&rsquo;s go!
