//- MATHEMATICAL WEB TYPOGRAPHY
//- http://jxnblk.com/writing/posts/mathematical-web-typography/
//- 
//- Golden Ratio Typography Calculator
//- http://www.pearsonified.com/typography/
//- 
//- Managing Typography on Large Apps
//- http://csswizardry.com/2016/02/managing-typography-on-large-apps/
//- 
doctype
include _head
body
  include _masthead
  main.center.max-width.ph3
    +masthead
  
    .f2.merriweather.lh-title.mt5.mb4.gold ‘If you can design one thing, you can design everything.’ 
    .f1.merriweather.tr.pr2.gold –Massimo Vignelli


    .f1.lh-title.mt5.mb4 I am a Phil Smith. I am a designer.

    .merriweather.fw9.mt5.mb2 intro

    p.mb3.lh-copy I’ve designed many things, including apps, websites, interfaces, interactions, animations, brands, logos, illustrations, and even <a href='https://www.instagram.com/p/5SSufKmSW0/?taken-by=philsoutside'>a dining room table</a>.

    p.mb3.lh-copy I am always curious, always learning, always striving for excellence. Technologist. Artist. Communicator. Maker. Passionate about human flourishing, beauty, family, the outdoors, the environment, food, drink, music, books.

    p.mb3 Based in 📍 <a href="http://vancouverisawesome.com">Vancouver, BC</a>


    a.dib.mb2(href='/portfolio').merriweather.fw9.mt5.mb2 work


    .merriweather.fw9.mt5.mb2 writing
    a.dib.mb2(href='https://medium.com/galvanize/redesign-recycling-a-design-thinking-odyssey-7d9e55266bea') Redesign Recycling
    br
    a.dib.mb2(href='thinks/summer.html') Endless Summer
    br
    a.dib.mb2(href='thinks/resolutions.html') Resolutions
    br

    
    label(for='checkbox-hack'): a.dib.merriweather.fw9.mt5.mb3.pointer contact
    //- <input type='checkbox' class='checkbox-hack'>
    input(type='checkbox' class='checkbox-hack' id='checkbox-hack')

    <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrTa6oXprNtNdCMI?backgroundColor=teal" frameborder="0" onmousewheel="" width="100%" height="909" style="background: transparent; border: 1px solid #ccc;"></iframe>

    .mb6.mt6

  script
    include ga.js
