head
  link(rel="stylesheet" type="text/css" href="source/webfonts-min.css" preload)
  link(rel='stylesheet' href='css/style.css' preload)
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' preload)
  meta(name="viewport" content="width=device-width, initial-scale=1")



  // Primary Meta Tags
  // https://metatags.io

  title Limitless design for ambitious startups
  meta(name='title' content='Limitless design for ambitious startups')
  meta(name='description' content='Unblock your team this week. Get continuous designs for a flat-rate subscription. Join over 40 startups.')
  // Open Graph / Facebook
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://philsmith.me/')
  meta(property='og:title' content='Limitless design for startups')
  meta(property='og:description' content='Unblock your team this week. Get continuous designs for a flat-rate subscription. Join over 40 startups.')
  meta(property='og:image' content='/assets/social-preview.png')
  // Twitter
  meta(property='twitter:card' content='assets/social-preview.png')
  meta(property='twitter:url' content='https://philsmith.me/')
  meta(property='twitter:title' content='Limitless design for startups')
  meta(property='twitter:description' content='Unblock your team this week. Get continuous designs for a flat-rate subscription. Join over 40 startups.')
  meta(property='twitter:image' content='assets/social-preview.png')

  link(rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png")
  link(rel="manifest" href="images/site.webmanifest")


  
  //- https://favicon.io
  
  link(rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")
  link(rel="manifest" href="assets/site.webmanifest")



body
  main
    section.hero.tc.pa-1.pt4.pb4
      h1.f-gradient.animate__animated.animate__fadeInDown Limitless design for ambitious startups
      .f1.mt-1.animate__animated.animate__fadeIn.animate__delay-1s 
        p Unblock your team this week. Get continuous designs for a flat-rate subscription. Join over 40 startups. #[br] #[a.fw2.f-default.tu(href='https://bit.ly/designsub1pager' target="_blank") Learn how it works].
        a.f1.call-to-action.bg-gradient(href='https://airtable.com/shr5OfqlF5QetFVKe' target='blank') Get started

    section
      header.animate__animated.animate__fadeInUp.animate__delay-2s 
        h1.f2.fw3.tc Selected work
        p.tc.f-nonessential.pl1.pr1 (Most recent work is secret and can&rsquo;t be shared here)

      .designs.animate__animated.animate__fadeInUp.animate__delay-3s 
        mixin design(title, desc, href, bgimg)
          a.design-card(href=href target='_blank')
            .design(style!=attributes.bgimg)
            .design-description
              p= desc

        // +design("Title", "description", null)(bgimg="background-image: url()")
        +design("Omnivore", "mobile reader app")(bgimg="background-image: url(assets/design-swipe-interactions.jpg)")
        +design("Homeroom", "school social media")(bgimg="background-image: url(assets/design-homeroom.jpg)")
        +design("Drapr", "virtual clothes fitting")(bgimg="background-image: url(assets/design-drapr.jpg)")
        +design("Fuel", "print-on-demand app")(bgimg="background-image: url(assets/design-fuel.jpg)")
        +design("Fuel", "print-on-demand app")(bgimg="background-image: url(assets/design-fuel-2.jpg)")
        +design("Fuel", "print-on-demand app")(bgimg="background-image: url(assets/design-fuel-3.jpg)")
        +design("Shelflife", "responsive landing page", null)(bgimg="background-image: url(assets/design-shelflife.jpg)")
        +design("Solve", "mortgage calculator app", null)(bgimg="background-image: url(assets/design-solve.jpg)")
        +design("Recycling", "design thinking & illustration", "https://medium.com/galvanize/redesign-recycling-a-design-thinking-odyssey-7d9e55266bea")(bgimg="background-image: url(assets/design-recycying.png)")
        +design("Zuddl", "virtual conference experience")(bgimg="background-image: url(assets/design-zuddl.jpg)")
        +design("Zuddl", "virtual conference experience")(bgimg="background-image: url(assets/design-zuddl-2.jpg)")
        +design("Zuddl", "virtual conference experience")(bgimg="background-image: url(assets/design-zuddl-3.jpg)")
        +design("Bird Song", "mobile - bird song", "https://dribbble.com/shots/11715056-Bird-Song-Radar")(bgimg="background-image: url(assets/design-birdsong.png)")
        +design("Dunder Mifflin", "product design - dashoard", "https://dribbble.com/shots/11674598-Dunder-Mifflin-Ice-Cream-Co")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11674598/media/b8693e6c8c5767b85212ea95e5cfc686.png)")
        +design("Becoming Bartenders", "branding - cocktail class", "https://dribbble.com/shots/14706602-Becoming-Bartenders-Cocktail-Class")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/14706602/media/c1c30d5690236e81b535f53973a735b5.jpg?compress=1&resize=1600x1200&vertical=top)")
        +design("Book Recos", "mobile - book recommendations", "https://dribbble.com/shots/11708937-Innovative-Book-Recommendations")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11708937/media/85551aa446959138f6f0c0bf59123de3.png?compress=1&resize=1600x1200&vertical=top)")
        +design("Daylight Savings", "graphic design", "https://dribbble.com/shots/7945704-Daylight-Savings-Strike")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/7945704/image.png)")
        +design("Paprika", "branding", "https://dribbble.com/shots/5943855-Paprika")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/5943855/paprika_logo___dribbble.png)")
        +design("VV Icons", "icon design", "https://dribbble.com/shots/11145253-Take-a-Hike")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/11145253/media/bde2c66f88c017c5105c44f62a0420e4.png)")
        +design("Sticky Note Kit", "figma community file", "https://www.figma.com/community/file/829850832311290824/Sticky-Note-Kit")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/10987908/media/8af176e86bcbf435dfdc3405161bf173.png?compress=1&resize=1600x1200&vertical=top)")
        +design("Timbersmith", "branding - furniture maker", "https://dribbble.com/shots/7892423-Timbersmith")(bgimg="background-image: url(https://cdn.dribbble.com/users/543568/screenshots/7892423/media/9fa88b73e5fb61b443c64672ab2bd4f8.png?compress=1&resize=1600x1200&vertical=top)")


    .cf
    .social-links.fw5.f.f-default.pa.cf
      a(href='https://mobile.twitter.com/philsoutside' target='blank').mr1 Twitter
      a(href='http://dribbble.com/philsmith' target='blank').mr1 Dribbble
      // a(href='http://github.com/pxsmith' target='blank').mr1 Github
      a(href='https://www.linkedin.com/in/pxsmith/' target='blank').mr1 Linkedin
      a(href='http://instagram.com/philsoutside' target='blank').mr1 Instagram
    .cf
    
    script(data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer)
