doctype
include _head
body
  .w-100.pa2(style='background-color: #283e4a; color: white;')
    .center.max-width.ph3 LinkedUn

  main.center.max-width.ph3
    
    a(href='/' target="_parent" style='border: none; background-color: transparent;'): img(src='../portfolio/images/phil.png').br-100.pa1.ba.b--black-10.h4.w4.mt3
    .f2.lh-solid Phil Smith
    .f1 UX Designer
    p.o-30 Vancouver, BC
    
    .pa3.mt4(style='background: #015481; color: white')
      p You are viewing Phil’s full profile for FREE! If you want to see 500 billion colleagues, classmates, and random peeps, go to <a href='https://linkedin.com'>LinkedIn</a>. ;)

    .f1.mt4 Experience
    p.mt2 UX Designer, <a href='https://www.wegalvanize.com'>Galvanize</a>
    p.mb2.o-70 2015-06-01 – Present
    p.o-40 Collaborate with colleagues to create the look and feel for the digital product | Determine the technology or method best suited achieve pleasing visuals | Design graphic elements to advance the company’s business goals | Use existing style guide and add improvements to strengthen the brand identity | Start and finish designs using Sharpie markers, modern design software, and front-end code | Work with professionals from different discplines

    p.mt4.mb2 UX Designer, <a href='http://artletic.com'>Artletic</a>
    p.mb2.o-70 2015-01-01 – 2015-05-31
    p.o-40 Collaborate with colleagues to create the look and feel for the digital product | Determine the technology or method best suited achieve pleasing visuals | Design graphic elements to advance the company’s business goals | Use existing style guide and add improvements to strengthen the brand identity | Start and finish designs using Sharpie markers, modern design software, and front-end code  | Work with professionals from different discplines

    p.mt4.mb2 Graphic &amp; Web Designer, <a href='http://philsmith.me'>freelance</a>
    p.mb2.o-70 2013-08-01 – 2014-12-31
    p.o-40 Estimate the cost to complete graphic design projects | Prepare sketches, layout, and graphics for clients using physical &amp; digital tools | Oversee projects from inception to production: print, websites, apps, flyers, etc. | Search stock photography libraries or create custom illustrations to meet clients’ needs | Consult with clients to design logos, websites, and graphics to serve their business needs

    p.mt4.mb2 Design Apprentice, <a href='http://elevate.co'>Elevate</a>
    p.mb2.o-70 2012-08-01 – 2013-07-31
    p.o-40 Design graphics &amp; web interfaces that meet the clients’ needs | Estimate the cost to finish designs | Create production artwork and illustrations | Search stock photography libraries or create custom illustrations to meet clients’ needs | Prepare sketches, layouts and graphics for clients using physical &amp; digital tools

    .f1.mt4 Education

    p.mt2.mb2 Bachelor’s Degree, <a href='http://unomaha.edu'>University of Nebraska-Omaha</a>
    p.mb2.o-70 2007-01-01 – 2011-12-21
    p.o-40 College of Communication, Fine Arts and Media

    .mb4

  script
    include ga.js
