@import style.sass

.music
    @extend .h4
    @extend .w4
    background: pink
    
    .details
        display: none

    &.is-open
        width: 100vw
        background: salmon
        .details
            display: block
