head
  include components/head.pug

body.work-impact
  include components/nav.pug
  section.hero
    h1 Flying from idea to prototype in 4 days
    p To launch new ideas you need to be fast. An entrepreneurial colleague called us with a new app idea. In just a few days Go Time HQ made that idea a reality. When you see your idea on the screen, it’s easy to see what works and what doesn’t. Then you move forward just as quickly. This is how you beat your competitors.

    .hero-list.wilbur
      h4 Timeline
      .item
        h5 Day 1
        img(src='source/images/icon-check-circle.svg')
        p Discovery call
      .border
      .item
        h5 Day 4
        img(src='source/images/icon-check-circle.svg')
        p Designs delivered
      .border
      .item
        h5 Day 8
        img(src='source/images/icon-circle.svg')
        p Designs revised
      .border
      .item
        h5 Day 12
        img(src='source/images/icon-circle.svg')
        p Design new flow
      .border
      .item
        h5 Day 16
        img(src='source/images/icon-circle.svg')
        p Launch



    h1 Designs that adapt with you
    p Our design subscription can handle anything you throw at us. See how one client has taken advantage of our model’s agility. Here you see a microsite to visualize the most recent risks across the globe.

    .hero-list.risk
      h4 Timeline
      .item
        img(src='source/images/icon-bullet.svg')
        p Product redesign
      .border
      .item
        img(src='source/images/icon-bullet.svg')
        p Email designs
      .border
      .item
        img(src='source/images/icon-bullet.svg')
        p Sales demo
      .border
      .item
        img(src='source/images/icon-circle.svg')
        p Microsite #1
      .border
      .item
        img(src='source/images/icon-bullet.svg')
        p Lead generator #1
      .border
      .item
        img(src='source/images/icon-bullet.svg')
        p Microsite #2
      .border
      .item
        img(src='source/images/icon-bullet.svg')
        p New product
      .border
      .item
        img(src='source/images/icon-bullet.svg')
        p Lead generator #2




  include components/cta.pug
  include components/footer.pug
