@import functional

// COLOURS

$lime-green: #44D62C
$dark-slate: #101820
$old-lace: #F9F6E7
$gold: #FFD635

// 🔥
$highlight: #f47b72
$highlight-alt: #B97D78
$dark: $dark-slate
$light: #f9f9f9

$gradient: linear-gradient(165deg, adjust-color($highlight, $hue: 18deg) 0%, adjust-color($highlight, $lightness: -8%) 100%)

.bg-gradient
  background: $highlight
  background: $gradient

.f-gradient
  background: $gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent



// GLOBAL STYLE
\:root
  @extend .fw2
  color: $dark
  background-color: $light

div
  box-sizing: border-box

body, h1, h2, h3, h4, h5, h6
  @extend .f1

body
  margin: 0



// FONT SCALE

// Respnsive type using ems
html
  font-size: 26px
@media (max-device-width: 480px)
  html
    font-size: 21px

// Hero typgography
.hero h1
  max-width: 19ch
  margin: auto
  @extend .f3, .fw7
  color: $highlight
  line-height: 100%
.hero p
  max-width: 37ch
  margin: auto
// Character widthes specific to copywriting

// Hero background image
.hero
  background: url(/assets/bg-hero-left.png) no-repeat calc(0% - 20px) calc(100%), url(/assets/bg-hero-right.png) no-repeat right top
@media (max-width: 800px)
  .hero
    background: url(/assets/bg-hero-left.png) no-repeat calc(0% - 140px) top, url(/assets/bg-hero-right.png) no-repeat calc(100% + 120px) center



// MOBILE
@media (max-device-width: 480px)
  .hero
    padding-top: $s0
    padding-bottom: $s1
  .hero h1
    padding-top: $s-2
  .hero p
    padding-left: $s-2
    padding-right: $s-2
    font-size: 1.2em



// TYPOGRAPHY
.fw9, .fw8
  @extend .fw7

.fw7, .Recoleta-Black
  font-family: Recoleta-Black
  font-weight: normal
  font-style: normal

.fw6, .Recoleta-Bold
  font-family: Recoleta-Bold
  font-weight: normal
  font-style: normal

.fw5, .Recoleta-SemiBold
  font-family: Recoleta-SemiBold
  font-weight: normal
  font-style: normal

.fw4, .Recoleta-Medium
  font-family: Recoleta-Medium
  font-weight: normal
  font-style: normal

.fw3, .Recoleta-Regular
  font-family: Recoleta-Regular
  font-weight: normal
  font-style: normal

.fw2, .Recoleta-Light
  font-family: Recoleta-Light
  font-weight: normal
  font-style: normal

.fw1, .Recoleta-Thin
  font-family: Recoleta-Thin
  font-weight: normal
  font-style: normal

.tl
  text-align: left
.tc
  text-align: center






.card:nth-of-type(1)
  background-color: aquamarine
.card:nth-of-type(2)
  background-color: turquoise
.card:nth-of-type(3)
  background-color: aqua




.design
  display: inline-block
  float: left
  width: 50vw
  min-height: 50vw * 4 / 5.35
  background-size: 100%
  background-position: 50% 50%


.design-description
  padding: $s-3 $s-2
  background-color: rgba($dark-slate, 1)
  color: white
  position: relative
  top: 0
  right: 0

  max-height: 1.6em
  text-overflow: ellipsis
  overflow: hidden

.design
  transition: background-size 500ms linear
.design:hover
  background-size: 105%

  .design-description
    max-height: 50vw * 4 / 6
    transition: max-height 600ms ease-in-out



.design-title
  @extend .fw7
.design-extra-info
  @extend .fw2
  display: inline-block

.social-links a
  border-bottom: $s-4 solid $highlight
  transition: border 150ms, color 150ms
  &:hover
    color: $highlight
    border-color: $dark-slate
    border-color: rgba($highlight, 0.35)

a.text
  border-bottom: 2.5px solid rgba($highlight, 0.3)
  transition: border 150ms, color 150ms
  background-color: rgba($highlight, 0.05)
  &:hover
    border-bottom: $s-4 solid $highlight
    border-color: rgba($highlight, 1)
    background-color: rgba($highlight, 0.2)



@keyframes fadeOut
  0%
    opacity: 0.5
    transform: translateX(0em)
  100%
    opacity: 0.5
    transform: translateX(-1em)


a
  animation: fadeOut 1s timing-function delay iteration-count direction fill-mode
  text-decoration: none
  color: $dark



.call-to-action
  background-color: $highlight
  color: white
  @extend .ma1, .pa-1, .pl1, .pr1, .fw5, .f1
  border-radius: $s-1
  display: inline-block
  z-index: 1
  transition: transform 200ms, box-shadow 200ms
  &:hover
    background-color: $dark-slate
    box-shadow: -$s-3 $s-3 rgba(($highlight),0.25), -$s-1 $s-1 rgba(($highlight),0.2), -$s0 $s0 rgba(($highlight),0.15)
    transform: translate($s-3, -$s-3)


  color: white
  &:hover
    background-color: rgba($highlight, 0.95)
    box-shadow: -$s-3 $s-3 rgba($highlight, 0.25), -$s-1 $s-1 rgba($highlight, 0.2), -$s0 $s0 rgba($highlight, 0.15)





.fancy-underline
  border-bottom: $s-3 solid $highlight
  box-shadow: 4px solid pink


// fancy hover
.bio-copy .fw7
  transition: color 200ms ease-out
  &:hover
    color: $highlight


@keyframes fadeIn
  0%
    opacity: 0
    transform: translateX(1em)
  100%
    opacity: 1
    transform: translateX(0em)
.fadeIn
  animation: fadeIn 1000ms ease
  // animation: name duration timing-function delay iteration-count direction fill-mode
