@font-face {
  font-family: "Covik_Sans_Mono-Black_Italic";
  src: url("webfonts/Covik_Sans_Mono-Black_Italic.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Black_Italic.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Black_Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans_Mono-Black";
  src: url("webfonts/Covik_Sans_Mono-Black.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Black.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Black.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans_Mono-Bold_Italic";
  src: url("webfonts/Covik_Sans_Mono-Bold_Italic.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Bold_Italic.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Bold_Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans_Mono-Bold";
  src: url("webfonts/Covik_Sans_Mono-Bold.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Bold.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Bold.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans_Mono-Italic";
  src: url("webfonts/Covik_Sans_Mono-Italic.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Italic.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans_Mono-Medium_Italic";
  src: url("webfonts/Covik_Sans_Mono-Medium_Italic.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Medium_Italic.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Medium_Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans_Mono-Medium";
  src: url("webfonts/Covik_Sans_Mono-Medium.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Medium.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Medium.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans_Mono-Regular";
  src: url("webfonts/Covik_Sans_Mono-Regular.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Regular.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Regular.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans_Mono-Semibold_Italic";
  src: url("webfonts/Covik_Sans_Mono-Semibold_Italic.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Semibold_Italic.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Semibold_Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans_Mono-Semibold";
  src: url("webfonts/Covik_Sans_Mono-Semibold.woff2") format("woff2"), url("webfonts/Covik_Sans_Mono-Semibold.woff") format("woff"), url("webfonts/Covik_Sans_Mono-Semibold.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Black_Italic";
  src: url("webfonts/Covik_Sans-Black_Italic.woff2") format("woff2"), url("webfonts/Covik_Sans-Black_Italic.woff") format("woff"), url("webfonts/Covik_Sans-Black_Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Black";
  src: url("webfonts/Covik_Sans-Black.woff2") format("woff2"), url("webfonts/Covik_Sans-Black.woff") format("woff"), url("webfonts/Covik_Sans-Black.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Bold_Italic";
  src: url("webfonts/Covik_Sans-Bold_Italic.woff2") format("woff2"), url("webfonts/Covik_Sans-Bold_Italic.woff") format("woff"), url("webfonts/Covik_Sans-Bold_Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Bold";
  src: url("webfonts/Covik_Sans-Bold.woff2") format("woff2"), url("webfonts/Covik_Sans-Bold.woff") format("woff"), url("webfonts/Covik_Sans-Bold.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Italic";
  src: url("webfonts/Covik_Sans-Italic.woff2") format("woff2"), url("webfonts/Covik_Sans-Italic.woff") format("woff"), url("webfonts/Covik_Sans-Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Medium_Italic";
  src: url("webfonts/Covik_Sans-Medium_Italic.woff2") format("woff2"), url("webfonts/Covik_Sans-Medium_Italic.woff") format("woff"), url("webfonts/Covik_Sans-Medium_Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Medium";
  src: url("webfonts/Covik_Sans-Medium.woff2") format("woff2"), url("webfonts/Covik_Sans-Medium.woff") format("woff"), url("webfonts/Covik_Sans-Medium.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Regular";
  src: url("webfonts/Covik_Sans-Regular.woff2") format("woff2"), url("webfonts/Covik_Sans-Regular.woff") format("woff"), url("webfonts/Covik_Sans-Regular.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Semibold_Italic";
  src: url("webfonts/Covik_Sans-Semibold_Italic.woff2") format("woff2"), url("webfonts/Covik_Sans-Semibold_Italic.woff") format("woff"), url("webfonts/Covik_Sans-Semibold_Italic.ttf") format("ttf"); }

@font-face {
  font-family: "Covik_Sans-Semibold";
  src: url("webfonts/Covik_Sans-Semibold.woff2") format("woff2"), url("webfonts/Covik_Sans-Semibold.woff") format("woff"), url("webfonts/Covik_Sans-Semibold.ttf") format("ttf"); }
