head
  include components/head.pug
  link(rel='stylesheet' href='css/work-wilbur.css' preload)

  // Primary Meta Tags
  title Design case study &ndash; From idea to prototype in 4 days
  meta(name='title' content='Design case study – From idea to prototype in 4 days')
  meta(name='description' content='To launch new ideas you need to be fast. An entrepreneurial colleague called us with a new app idea. In just a few days Go Time HQ made that idea a reality. When you see your idea on the screen, it’s easy to see what works and what doesn’t. Then you move forward just as quickly. This is how you beat your competitors.')
  // Open Graph / Facebook
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://gotimehq.com/work-wilbur.html')
  meta(property='og:title' content='Design case study – From idea to prototype in 4 days')
  meta(property='og:description' content='To launch new ideas you need to be fast. An entrepreneurial colleague called us with a new app idea. In just a few days Go Time HQ made that idea a reality. When you see your idea on the screen, it’s easy to see what works and what doesn’t. Then you move forward just as quickly. This is how you beat your competitors.')
  meta(property='og:image' content='https://gotimehq.com/source/images/social-preview-wilbur.jpg')
  // Twitter
  meta(property='twitter:card' content='summary_large_image')
  meta(property='twitter:url' content='https://gotimehq.com/work-wilbur.html')
  meta(property='twitter:title' content='Design case study – From idea to prototype in 4 days')
  meta(property='twitter:description' content='To launch new ideas you need to be fast. An entrepreneurial colleague called us with a new app idea. In just a few days Go Time HQ made that idea a reality. When you see your idea on the screen, it’s easy to see what works and what doesn’t. Then you move forward just as quickly. This is how you beat your competitors.')
  meta(property='twitter:image' content='https://gotimehq.com/source/images/social-preview-wilbur.jpg')



  // Open Graph / Facebook
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://gotimehq.com/work-risk.html')
  meta(property='og:title' content='Design case study – As agile as your startup')
  meta(property='og:description' content='Our design subscription can handle anything you throw at us. See how one client has taken advantage of our model’s agility. Here you see a microsite to visualize the most recent risks across the globe.')
  meta(property='og:image' content='/source/images/social-preview-risk.jpg')
  // Twitter
  meta(property='twitter:card' content='summary_large_image')
  meta(property='twitter:url' content='https://gotimehq.com/work-risk.html')
  meta(property='twitter:title' content='Design case study – As agile as your startup')
  meta(property='twitter:description' content='Our design subscription can handle anything you throw at us. See how one client has taken advantage of our model’s agility. Here you see a microsite to visualize the most recent risks across the globe.')
  meta(property='twitter:image' content='/source/images/social-preview-risk.jpg')



body.work-wilbur
  .page-wrapper
    include components/nav.pug
    section.hero
      h1.header From idea to prototype in <u>4 days</u>
      p.subheader To launch new ideas you need to be fast. An entrepreneurial colleague called us with a new app idea. In just a few days Go Time HQ made that idea a reality. When you see your idea on the screen, it’s easy to see what works and what doesn’t. Then you move forward just as quickly. This is how you beat your competitors.

      .hero-list.wilbur
        h4 Timeline
        .item
          h5 Day 1
          img(src='source/images/icon-check-circle.svg' draggable='false')
          p Discovery call
        .border
        .item
          h5 Day 4
          img(src='source/images/icon-check-circle.svg' draggable='false')
          p Designs delivered
        .border
        .item
          h5 Day 8
          img(src='source/images/icon-circle.svg' draggable='false')
          p Designs revised
        .border
        .item
          h5 Day 12
          img(src='source/images/icon-circle.svg' draggable='false')
          p Design new flow
        .border
        .item
          h5 Day 16
          img(src='source/images/icon-circle.svg' draggable='false')
          p Launch

      .work-wilbur-hero
        img.img-work-wilbur-hero(src="source/images/work-wilbur-hero.png" srcset="source/images/work-wilbur-hero@2x.png 2x" draggable='false')
    


    section.themes
      .copy
        h2.header Payments on themed landing pages
        p.subheader This app lets creatives receive payments with no effort. It’s important to have themed landing pages to match the creator’s aesthetic.
      .work-themes
        img.img-work-themes-1(src="source/images/work-wilbur-themes-1.png" srcset="source/images/work-wilbur-themes-1@2x.png 2x" draggable='false')
        img.img-work-themes-2(src="source/images/work-risk-work-wilbur-themes-2.png" srcset="source/images/work-wilbur-themes-2@2x.png 2x" draggable='false')
        img.img-work-themes-3(src="source/images/work-wilbur-themes-3.png" srcset="source/images/work-wilbur-themes-3@2x.png 2x" draggable='false')



    section.website-embed
      .copy
        h2.header Payments on any website
        p.subheader Many creatives will want to use their existing website but collect payments. This app can be embedded anywhere.

      .work-website-embed
        img.img-work-website-embed(src="source/images/work-wilbur-website-embed.png" srcset="source/images/work-wilbur-website-embed@2x.png 2x" draggable='false')



    section.user-flow
      .copy
        h2.header Get paid in just a few clicks
        p.subheader Becoming an independent creative is liberating. In reality the admin side prevents many from taking the leap. This app lets creatives ditch old, bloated payment structures with simplicity.

      .work-user-flow
        img.img-work-user-flow-1(src="source/images/work-wilbur-user-flow-1.png" srcset="source/images/work-wilbur-user-flow-1@2x.png 2x" draggable='false')
        img.img-work-user-flow-2(src="source/images/work-risk-work-wilbur-user-flow-2.png" srcset="source/images/work-wilbur-user-flow-2@2x.png 2x" draggable='false')
        img.img-work-user-flow-3(src="source/images/work-wilbur-user-flow-3.png" srcset="source/images/work-wilbur-user-flow-3@2x.png 2x" draggable='false')

  include components/cta.pug
  include components/footer.pug
