include ../source/_masthead

doctype html
html
head
  include ../source/_html-head
  block html title
    title
body
  style.
    p {
      margin-top: 1.618em;
    }
  .center.max-width.ph3
    +masthead(page='blog')
    article.blog-post.my2
      header.blog-post--title
        block title
      small
        block date
      block content
  .mb6
  script
    include ../source/ga.js
