html(lang='en-US')
  head
    include /source/components/head.pug
    include /source/components/meta-tags.pug

  include /source/components/google-analytics.pug


  body.case-study
    include /source/components/nav.pug

    .hero.ma3.mb0.pl0.pr0.tc
      a(href="/case-studies") 
        h5 Case Studies
      h2.heading Go Time helped EngineIQ start building their MVP in <span class='text-highlight'>less than 7 days </span>

      p Like many early-stage startups, EngineIQ could see their runway approaching and hear the clock ticking down. With Go Time’s design subscription, their engineers started building the MVP in less than a week. How is that possible? Design used to be a black box, a mysterious place that can be a blackhole sucking in time and money. With Go Time design is demystified and sped up. Every 2-4 business days you will be getting new designs delivered. This way EngineIQ was able to design and build the MVP in tandem. Make the most of your runway and take off with Go Time.

    .df.fd-column
      img(src='case-study-1.jpg' srcset='case-study-1@2x.jpg 2x' draggable='false')
      img(src='case-study-2.jpg' srcset='case-study-2@2x.jpg 2x' draggable='false')
      img(src='case-study-3.jpg' srcset='case-study-3@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='case-study-4.jpg' srcset='case-study-4@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='case-study-5.jpg' srcset='case-study-5@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='case-study-6.jpg' srcset='case-study-6@2x.jpg 2x' draggable='false' loading='lazy')
      img(src='case-study-7.jpg' srcset='case-study-7@2x.jpg 2x' draggable='false' loading='lazy')

    include /source/components/cta.pug
    include /source/components/footer.pug
